<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.EvaluateMapper">
    <select id="GetEvaluateItemsByMainType" resultType="com.example.entity.Evaluate">
        select * from evaluate_info where  evaluate_main_type = #{evaluate_main_type}
    </select>
    <select id="GetEvaluateNumbersBySchemeId">
        select evaluate_number from evaluate_number where scheme_id=#{scheme_id}
    </select>
    <select id="RequestEvaluateItems" resultType="com.example.entity.Evaluate">
        SELECT * FROM evaluate_info WHERE evaluate_type = #{evaluate_type};
    </select>
    <select id="GetSchemeIdWhereEvaluateCountMore" resultType="Integer">
        SELECT scheme_id  FROM scheme_evaluate GROUP BY scheme_id HAVING COUNT(1) &gt; #{proficientNumber}
    </select>
    <select id="GetEvaluateCountsBySchemeId" resultType="Integer">
        SELECT COUNT(*) FROM scheme_evaluate WHERE scheme_id = #{schemeId}
    </select>
</mapper>