<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.GroupMapper">
    <select id="GetGroupByGroupId" resultType="Group">
        select * from group_info where group_id = #{group_id}
    </select>

    <select id="GetGroupBySchemeId" resultType="Group">
        select * from group_info where scheme_id = #{scheme_id}
    </select>

    <select id="GetGroupByGroupName" resultType="Group">
        select * from group_info where group_name = #{group_name}
    </select>

    <select id="GetSchemeGroupBySchemeIdAndGroupType" resultType="Group">
        select * from group_info where scheme_id= #{scheme_id} and group_type= #{group_type}
    </select>

    <select id="GetTeamBySchemeIdAndTeamType" resultType="Team">
        select * from team_info where group_id in (select group_id from group_info where scheme_id = #{scheme_id}) and team_type = #{team_type}
    </select>

    <insert id="AddTeam" parameterType="Team"  useGeneratedKeys="true" keyProperty="team_id">
        insert into team_info(group_id,army_id,team_name,team_type,team_duty)values (#{group_id},#{army_id},#{team_name},#{team_type},#{team_duty})
    </insert>

    <insert id="AddDepartment" parameterType="Department">
        insert into department_info(department_name, people_max_number) values (#{department_name},#{people_max_number})
    </insert>
    <select id="GetDepartmentLastItem" resultType="Integer">
        select department_id from department_info order by department_id DESC limit 1
    </select>

    <select id="GetDepartmentById" resultType="Department">
        select * from department_info where department_id = #{department_id}
    </select>

    <insert id="AddTeamDepartment" parameterType="Team_Department">
        insert into team_department_info values (#{team_id},#{department_id},#{department_people})
    </insert>

    <insert id="AddTeamCategory" parameterType="Team_Category">
        insert into team_category_info values (#{team_id},#{category_id},#{category_number})
    </insert>

    <select id="GetTeamId" resultType="Integer">
        select team_id from team_info where group_id = #{group_id} and team_type = #{team_type} and team_name = #{team_name}
    </select>

    <select id="GetTeamByGroupId" resultType="Team">
        select * from team_info where group_id = #{group_id}
    </select>

    <select id="GetTeamByTeamId" resultType="Team_Department">
        select * from team_department_info where team_id = #{team_id}
    </select>

    <select id="GetTeamBySchemeId" resultType="Team">
        select * from team_info where group_id in (select group_id from group_info where scheme_id = #{scheme_id})
    </select>

    <select id="GetTeamCategoryByTeamId" resultType="Team_Category">
        select * from team_category_info, category_info where team_id = #{team_id} and team_category_info.category_id = category_info.category_id
    </select>

    <select id="GetTeamDepartmentByDepartmentId" resultType="Team_Department">
        select * from team_department_info where department_id = #{department_id}
    </select>

    <select id="GetTeamDepartmentByTeamId" resultType="Team_Department">
        select * from team_department_info where team_id = #{team_id}
    </select>

    <select id="GetTeamPeopleByGroupId" resultType="Team_People">
        select * from team_info, team_department_info, department_info where group_id = #{group_id} and team_info.team_id=team_department_info.team_id and department_info.department_id = team_department_info.department_id;
    </select>

    <delete id="DeleteTeam">
        delete from team_info where team_id = #{team_id}
    </delete>

    <delete id="DeleteTeamDepartment">
        delete from team_department_info where team_id = #{team_id}
    </delete>

    <delete id="DeleteTeamCategory">
        delete from team_category_info where team_id = #{team_id}
    </delete>
</mapper>