<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.SchemeMapper">

    <select id="GetSchemeBySchemeID" resultType="com.example.entity.Scheme">
        select * from scheme_info where scheme_id = #{scheme_id}
    </select>
    <select id="GetSchemeBySchemeName" resultType="com.example.entity.Scheme">
        select * from scheme_info where scheme_name = #{scheme_name}
    </select>
    <select id="GetSchemeBySchemeCode" resultType="com.example.entity.Scheme">
        select * from scheme_info where scheme_Code = #{scheme_Code}
    </select>
    <select id="GetSchemeEquipment" resultType="com.example.entity.Equipment">
        select * from equipment_info where equipment_id in (select equipment_id from scheme_equipment_info where scheme_id =  #{scheme_id})
    </select>
    <select id="GetSchemeArmyBySchemeId" resultType="com.example.entity.Scheme_Army">
        select scheme_army_info.*,army_name from scheme_army_info,army_info where scheme_id = #{scheme_id} and army_info.army_id = scheme_army_info.army_id
    </select>
    <select id="GetSchemeArmyNumber" resultType="com.example.entity.Scheme_Army">
        select * from scheme_army_info where scheme_id = #{scheme_id} and army_id = #{army_id} and army_action_group = #{army_action_group}
    </select>

    <select id="GetSchemeEquipmentBySchemeId" resultType="com.example.entity.Equipment">
        select * from equipment_info where equipment_id in (select equipment_id from scheme_equipment_info where scheme_id = #{scheme_id})
    </select>
    <select id="GetSchemeSafeguardBySchemeID" resultType="com.example.entity.Scheme_Safeguard">
        select * from scheme_safeguard_info,base_info,platoon_info where scheme_safeguard_info.base_id = base_info.base_id and scheme_safeguard_info.platoon_id = platoon_info.platoon_id and scheme_id = #{scheme_id}
    </select>
    <select id="GetOneSchemeSafeguardMsyBySchemeId" resultType="com.example.entity.Scheme_Safeguard">
        select * from scheme_safeguard_info where safeguard_id = (select MAX(safeguard_id) from scheme_safeguard_info where scheme_id = #{scheme_id})
    </select>
    <select id="RequestSchemeId" resultType="Integer">
        select scheme_id from scheme_info
    </select>
    <insert id="AddScheme" parameterType="com.example.entity.Scheme">
        insert into scheme_info(scheme_name,scheme_code,location_id,scheme_type,combat_direction,scheme_begin_time,scheme_end_time,evaluate_result)
        values (#{scheme_name},#{scheme_code},#{location_id},#{scheme_type},#{combat_direction},#{scheme_begin_time},#{scheme_end_time},#{evaluate_result})
    </insert>
    <insert id="AddSchemeEquipment">
        replace into scheme_equipment_info(scheme_id,equipment_id)
        values(#{scheme_id},#{equipment_id})
    </insert>
    <insert id="AddSchemeArmy">
        insert into scheme_army_info(scheme_id,platoon_id,army_id,army_people,army_action_group)
        values(#{scheme_id},#{platoon_id},#{army_id},#{army_people},#{army_action_group})
    </insert>
    <insert id="AddSchemeSafeGuard">
        insert into scheme_safeguard_info(scheme_id, safeguard_mode, base_id, platoon_id, carry_method)
        values (#{scheme_id}, #{safeguard_mode}, #{base_id}, #{platoon_id}, #{carry_method})
    </insert>
    <insert id="AddGroupIntoScheme" parameterType="com.example.entity.Group">
        insert into group_info(scheme_id,group_name,group_type)
        values (#{scheme_id},#{group_name},#{group_type})
    </insert>
    <insert id="AddSchemeCase">
        insert into scheme_case_info(scheme_id, case_id)
        values (#{scheme_id},#{caseId})
    </insert>

    <update id="ModifySchemeArmy" parameterType="com.example.entity.Scheme_Army">
        update scheme_army_info set army_people = #{army_people}
        where scheme_id = #{scheme_id} and army_id = #{army_id} and army_action_group = #{army_action_group}
    </update>

    <update id="ModifyScheme" parameterType="com.example.entity.Scheme">
        update scheme_info
        <set>
            <if test="scheme_name != null and scheme_name != ''">
                scheme_name = #{scheme_name},
            </if>
            <if test="scheme_code != null and scheme_code != ''">
                scheme_code = #{scheme_code},
            </if>
            <if test="location_id != null and location_id != ''">
                location_id = #{location_id},
            </if>
            <if test="army_id != null and army_id != ''">
                army_id = #{army_id},
            </if>
            <if test="people_number != null and people_number != ''">
                people_number = #{people_number},
            </if>
            <if test="scheme_begin_time != null and scheme_begin_time != ''">
                scheme_begin_time = #{scheme_begin_time},
            </if>
            <if test="scheme_end_time != null and scheme_end_time != ''">
                scheme_end_time = #{scheme_end_time}
            </if>
        </set>
        where scheme_id = #{scheme_id}
    </update>


    <delete id="DeleteSchemeEquipment">
        delete from scheme_equipment_info where scheme_id = #{scheme_id} and equipment_id = #{equipment_id}
    </delete>

    <delete id="DeleteScheme">
        delete from scheme_info where scheme_id = #{scheme_id}
    </delete>

    <delete id="DeleteSchemeActionGroup">
        delete from scheme_army_info where army_action_group = #{action_group_id}
    </delete>
</mapper>