<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mappers.Special_CaseMapper">
    <select id="GetSpecialCase" resultType="com.example.entity.Special_Case">

        select * from special_case_info where case_position = #{case_position}
        <if test="case_type != null  and case_type != ''">
            and case_type = #{case_type}
        </if>
        <if test="month_time != null  and month_time != ''">
            and month_time = #{month_time}
        </if>
        <if test="description != null  and description != ''">
            and description = #{description}
        </if>

    </select>
    <select id="GetCategoryCase" resultType="com.example.entity.Category_Case">
    select * from category_case_info where
    case_position = #{case_position} and category_id=(select category_id from equipment_info where equipment_id = #{equipment_id})
</select>
    <select id="GetSpecialCaseById" resultType="com.example.entity.Special_Case">
        select * from special_case_info where case_id = #{case_id};
    </select>
    <select id="GetEnvironmentSpecialCase" resultType="com.example.entity.Special_Case">
        SELECT * FROM special_case_info WHERE case_id in (SELECT case_id FROM environment_case_info WHERE environment_case_info.environment_type = #{type} AND environment_case_info.case_level between #{lowLevel} AND #{highLevel});
    </select>
    <select id="GetEnvironmentSpecialCaseBySchemeId" resultType="com.example.entity.Special_Case">
        SELECT * FROM special_case_info WHERE case_id in (SELECT case_id FROM scheme_case_info where scheme_id = #{scheme_id})
    </select>
    <insert id="AddSpecialCase" parameterType="com.example.entity.Special_Case" useGeneratedKeys="true"
            keyProperty="case_id">
        insert into special_case_info(case_position,case_type,month_time,description) values (#{case_position},#{case_type},#{month_time},#{description})
    </insert>
</mapper>