<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <title>编辑方案-装备保障方案</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <!-- datepicker -->
    <!--<link rel='stylesheet' type='text/css' href='css/core.css'>-->

    <link href="css/bootstrap-select.css" rel="stylesheet">
    <link href="css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-editable.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>

    <script src="js/custom.js"></script>
    <script src="js/bootstrap-select.js"></script>

    <style type="text/css">
        table, table tr th, table tr td {
            border: 1px solid #333333;
        }

        table {
            cellspacing: 0;
            padding: 5px;
            margin: 40px 40px;
            width: 80%;
            font-size: 16px;
        }

        th {
            text-align: center;
            padding: 10px;
        }

        td {
            vertical-align: middle;
            padding: 10px 8px;
        }

        #specialInfo > p {
            font-size: 18px;
            line-height: normal;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>

    <div class="left"></div>

    <div class="mainpanel">

        <div class="head"></div>
        <div class="pageheader">
            <h2><i class="fa  fa-edit"></i> 保障方案编辑</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="#">装备保障系统</a></li>
                    <li class="active">编辑保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">装备保障特情处置预案</h4>
                        <!--                        <p></p>-->
                    </div><!-- panel-heading -->
                    <!--原本版本 panel-body-nopadding editable-list-group作用未知-->
                    <!--<div class="panel-body panel-body-nopadding editable-list-group">-->
                    <div class="panel-body">
                        <div id="specialInfo" class="col-md-12"></div>
                    </div><!-- panel-body -->
                    <div class="panel-footer" style="text-align: center; margin: 0 auto">
                        <button class="btn btn-default mr30" onclick="javascript:history.go(-1);">
                            返回
                        </button>
                        <button class="btn btn-primary" id="specialMsg" type="button">继续</button>
                    </div>
                </div><!-- panel -->
            </div><!-- row -->
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>

<script>
    // 加载共同头部
    $('.left').load("left");
    // $('.head').load("head");
    $('#specialInfo').load("special_info");

    // 跳转按钮
    $("#specialMsg").click(function () {
        window.location.href = "/scheme_show?scheme_id=" + localStorage.getItem("scheme_id");
    })
</script>


</body>
</html>