<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <title>方案库-装备保障方案</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <!-- datepicker -->
    <link href='css/core.css' rel='stylesheet' type='text/css'>

    <link href="css/bootstrap-select.css" rel="stylesheet">
    <link href="css/bootstrap-table.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script src="js/custom.js"></script>
    <!--    <script src="js/when.js"></script>-->
    <script src="js/sweetalert.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table-zh-CN.js"></script>

    <style>
        #schemeContents {
            text-align: left;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>

    <div class="left"></div>

    <div class="mainpanel">

        <div class="head"></div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa  fa-edit"></i> 保障方案编辑</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="#">装备保障系统</a></li>
                    <li class="active">编辑保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">

            <form class="form-horizontal" id="basicForm2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a class="panel-close" href="">&times;</a>
                            <a class="minimize" href="">&minus;</a>
                        </div>
                        <h4 class="panel-title">保障任务</h4>
                        <p></p>
                    </div>
                    <div class="panel-body">
                        <div class="form-group dropdown">
                            <label class="col-sm-3 control-label">携装方式 <span class="asterisk">*</span></label>
                            <div class="col-sm-2">
                                <select class="form-control selectpicker show-tick " id="carryPattern">
                                    <option value="1"> 全装</option>
                                    <option value="2"> 简装</option>
                                    <option value="3"> 小单元机动</option>
                                    <option value="4"> 其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">保障模式 <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <select class="select2 selectpicker show-tick" id="protectionPattern" multiple>
                                    <option value="1"> 自主保障</option>
                                    <option value="2"> 协同保障</option>
                                    <option value="4"> 支援保障</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <h3>保障关系</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 上级保障单位<span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <select class="form-control selectpicker show-tick " id="highLevel">
                                    <!--<th:block th:each="item:${base_list}">-->
                                    <!--<option th:text="${item.getBase_name()}" th:value="${item.getBase_Id()}">无-->
                                    <!--</option>-->
                                    <option>无</option>
                                    <th:block th:each="item:${base_list}">
                                        <!--/*@thymesVar id="getBase_name" type=""*/-->
                                        <option th:text="${item.getBase_name()}"
                                                th:value="${item.getBase_id()}">
                                        </option>
                                    </th:block>
                                    <!--</th:block>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 同级保障单位<span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <select class="select2 selectpicker show-tick filter-option" id="sameLevel" multiple>
                                    <option>无</option>
                                    <th:block th:each="item:${platoon_list}">
                                        <option th:text="${item.getPlatoon_name()}"
                                                th:value="${item.getPlatoon_id()}">
                                            十二旅
                                        </option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label mr10">依托保障资源</label>
                            <div class="col-sm-8">
                                <table id="safeguardRes">
                                </table>
                            </div>

                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12 col-sm-offset-3" style="text-align: center; margin: 0 auto">
                                    <!--<button class="btn btn-primary">保存</button>&nbsp;-->
                                    <button class="btn btn-primary" id="newSchemeProtectionBtn" type="button">保存
                                    </button>
                                    &nbsp
                                    <button class="btn btn-default" onclick="javascript:history.go(-1);">
                                        取消
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div><!-- panel-footer -->
                </div><!-- panel -->
            </form>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>

<script th:inline="javascript">

    // 加载共同头部
    $(function () {
        $('.left').load("left");
        // $('.head').load("head")

        // initTable();
    });

    jQuery(document).ready(function () {

        "use strict";

        // Select2
        jQuery(".select2").select2({
            width: '100%',
            minimumResultsForSearch: -1
        });

    });

    $('#highLevel').change(function () {
        let baseId = $('#highLevel option:selected').val();
        initTable(baseId);
    });

    var $safeguardRes = $('#safeguardRes');

    function initTable(baseId) {
        $safeguardRes.empty();
        $safeguardRes.bootstrapTable('destroy').bootstrapTable({
            url: "/GetBaseResource?baseId=" + baseId,
            striped: true,
            showRefresh: true,
            pagination: true,
            sidePagination: "service",
            pageNumber: 1,
            pageSize: 20,
            pageList: [20, 45, 80],
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            paginationFirstText: "第一页",
            paginationLastText: "最后一页",
            clickToSelect: true,
            search: true,
            searchOnEnterKey: true,
            strictSearch: true,
            columns: [{
                checkbox: true
            }, {
                field: 'supplier_id',
                title: '保障资源ID',
                visible: false
            }, {
                field: 'supplier_name',
                title: '保障资源名称'
            }]
        })
    }


    $(function () {
        $('#newSchemeProtectionBtn').click(function () {
            var carryPattern = $('#carryPattern option:selected').val();
            var protectionPatternItem = $('#protectionPattern').select2("val");
            console.log(protectionPatternItem);
            // 将获得数组的每一位由字符串更改为数字
            var res = protectionPatternItem.map(function (value, index, array) {
                return parseInt(value);
            });
            // 数组求和
            var protectionPattern = res.reduce(function (a, b) {
                return a + b;
            }, 0);
            var highLevel = $('#highLevel option:selected').val();
            var sameLevel = $('#sameLevel').select2("val");
            var scheme_safeguard = [];
            for (var i in sameLevel) {
                var platoonId = {
                    platoon_id: sameLevel[i]
                };
                scheme_safeguard.push(platoonId);
            }


            var scheme = {
                scheme_id: localStorage.getItem("scheme_id"),
                safeguard_mode: protectionPattern,
                carry_method: carryPattern,
                base_id: highLevel,
                scheme_safeguard: scheme_safeguard
            };

            var schemeStr = JSON.stringify(scheme);

            console.log(schemeStr);

            $.ajax({
                type: 'POST',
                data: schemeStr,
                contentType: "application/json;charset=UTF-8",
                url: "/AddSchemeSafeguard",
                dataType: "json",
                async: false,     // 取消异步加载
                success: function (msg) {
                    if (msg.similarExist === "yes") {
                        showSimilarAlter();
                    } else {
                        location.href = "/edit_protection_group?scheme_id=" + localStorage.getItem("scheme_id");
                    }
                    // window.location.href = "/ShowMap";
                },
                error: function () {
                    console.error("error");

                }
            });

            function showSimilarAlter() {
                $.ajax({
                    type: 'POST',
                    url: "/GetSimilarScheme",
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(localStorage.getItem("scheme_id")),
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        console.dir(data);
                        let array = data.scheme;
                        console.log(array);
                        let content = document.createElement("ol");
                        content.setAttribute("class", "similarSchemeContent");
                        if (array != null) {
                            $.map(array, function (item, index) {
                                console.log(item);
                                let items = document.createElement("li");
                                items.onclick = function () {
                                    showSchemeContent(item.scheme_id, item.scheme_name)
                                };
                                items.style.marginBottom = "10px";
                                items.style.cursor = "pointer";
                                items.innerText = item.scheme_name;
                                content.append(items);
                            });
                        }
                        Swal.fire({
                            title: '<strong>推荐方案</strong>',
                            type: 'info',
                            html: content, // HTML
                            confirmButtonText: "谢谢，不需要", //聚焦到确定按钮
                            showCloseButton: true,//右上角关闭
                            allowOutsideClick: false
                        }).then(function () {
                            location.href = "/edit_protection_group?scheme_id=" + localStorage.getItem("scheme_id");
                        });
                        console.log("similar success");
                    },
                    error: function () {
                        console.error("similar error");
                    }
                })
            }

            function showSchemeContent(id, name) {
                Swal.fire({
                    titleText: "方案内容",
                    html: "<div id='schemeContents'></div>",
                    width: "80%",
                    showCancelButton: true,
                    confirmButtonText: '选择该方案',
                    cancelButtonText: '取消',
                }).then((result) => {
                    if (result.value) {
                        Swal.fire(
                            '已选择推荐方案',
                            '方案名称: ' + name,
                            'success'
                        ).then(function () {
                            console.log("In add similar");
                            $.ajax({
                                type: 'POST',
                                url: "/AddSimilarProtectionGroup/" + id,
                                contentType: "application/json;charset=UTF-8",
                                data: JSON.stringify(localStorage.getItem("scheme_id")),
                                dataType: "json",
                                async: false,
                                success: function () {
                                    localStorage.setItem("chooseSimilarFlag", "chosen");
                                    localStorage.setItem("similarSchemeId", id);
                                    console.log("相似方案保障队伍添加成功");
                                    location.href = "/edit_protection_group?scheme_id=" + localStorage.getItem("scheme_id");
                                },
                                error:function () {
                                    console.error("相似方案保障队伍添加失败")
                                }
                            });
                        })
                    } else if (
                        // Read more about handling dismissals
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        showSimilarAlter();
                    }
                });
                $("#schemeContents").load("/text?scheme_id=" + id);

            }

        })

    })

</script>

</body>
</html>
