<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <title>编辑方案-装备保障方案</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.datatables.css" rel="stylesheet">
    <!-- datepicker -->
    <!--<link rel='stylesheet' type='text/css' href='css/core.css'>-->

    <link href="css/bootstrap-select.css" rel="stylesheet">
    <link href="css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-editable.css" rel="stylesheet">

    <link href="css/sweetalert.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table-zh-CN.js"></script>
    <script src="js/bootstrap-editable.min.js"></script>
    <script src="js/bootstrap-table-editable.js"></script>

    <script src="js/custom.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/sweetalert.min.js"></script>

    <script src="js/tableData/protectionPeopleTable-data.js"></script>
    <script src="js/tableData/protectionCategoryTable-data.js"></script>

    <style>
        .detail-icon {
            display: none;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>

    <div class="left"></div>

    <div class="mainpanel">

        <div class="head"></div>
        <div class="pageheader">
            <h2><i class="fa  fa-edit"></i> 保障方案编辑</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="#">装备保障系统</a></li>
                    <li class="active">编辑保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">保障机构编组</h4>
                        <p>组织实施保障任务</p>
                    </div><!-- panel-heading -->
                    <!--原本版本 panel-body-nopadding editable-list-group作用未知-->
                    <!--<div class="panel-body panel-body-nopadding editable-list-group">-->
                    <div id="similarGroup"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <h4>装备抢修组</h4>
                            <p>装备抢修组负责与上级业务部门协调处理装备问题，参与上级业务部门工作</p>
                            <div class="btn-group" id="repairToolbar">
                                <button class="btn btn-default" data-target="#newTeamModal"
                                        data-toggle="modal" id="repair" name="modalRepairDepartment">
                                    <span aria-hidden="true" class="glyphicon glyphicon-plus"> </span>
                                    新增装备抢修组
                                </button>
                            </div>
                            <table class="table" id="repairGroupTable"></table>
                        </div>
                        <hr>
                        <div class="form-group">
                            <h4>器材保障组</h4>
                            <p>负责器材调整补充及请领下送</p>
                            <div class="btn-group" id="protectToolbar">
                                <button class="btn btn-default" data-target="#newTeamModal"
                                        data-toggle="modal" id="protect" name="modalProtectDepartment">
                                    <span aria-hidden="true" class="glyphicon glyphicon-plus"> </span>新增器材保障组
                                </button>
                            </div>
                            <table class="table" id="protectGroupTable"></table>
                        </div>
                        <hr>
                        <div class="form-group">
                            <h4>支援保障组</h4>
                            <p>负责战地的资源保障</p>
                            <div class="btn-group" id="supplyToolbar">
                                <button class="btn btn-default" data-target="#newTeamModal"
                                        data-toggle="modal" id="supply" name="modalSupplyDepartment">
                                    <span aria-hidden="true" class="glyphicon glyphicon-plus"> </span>新增支援保障组
                                </button>
                            </div>
                            <table class="table" id="supplyGroupTable"></table>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<button class="btn btn-pink" id="testBtn">TEST</button>-->
                        <!--</div>-->
                    </div><!-- panel-body -->
                    <div class="panel-footer" style="text-align: center; margin: 0 auto">
                        <button class="btn btn-default mr30" onclick="javascript:history.go(-1);">
                            返回
                        </button>
                        <button class="btn btn-primary" id="addProtectionGroup" type="button">继续</button>
                    </div>
                </div><!-- panel -->
            </div><!-- row -->
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>

<!-- 新增保障组 modal -->
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bs-example-modal-lg"
     data-backdrop="static"
     id="newTeamModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title myModal-title mb5"></h4>
                <p class="myModal-p"></p>
            </div>
            <div class="modal-body">
                <span>第</span>&nbsp;&nbsp;<div style="width: 60px; display: inline-block"><input
                    class="form-control"
                    id="teamName"
                    type="number"/></div>&nbsp;&nbsp;<span class="myModal-span">器材保障组</span>
                <!-- response team_name -->
                <div class="mb10"></div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">组长:</label>
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table id="teamLeader-table"></table>
                            </div>
                            <!--<label class="control-label">职责：</label>-->
                            <!--<textarea rows="2" class="form-control" placeholder="队长职责为……"></textarea>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">副组长:</label>
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table id="deputyHead-table"></table>
                            </div>
                            <!--<label class="control-label">职责：</label>-->
                            <!--<textarea rows="2" class="form-control" placeholder="副队长职责为……"></textarea>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">组员:</label>
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table id="teamMember-table"></table>
                            </div>
                            <!--<label class="control-label">职责：</label>-->
                            <!--<textarea rows="2" class="form-control" placeholder="队员职责为……"></textarea>-->
                        </div>
                    </div>
                </div>
                <div class="mb20">
                    <label class="control-label col-md-2">小组职责:</label>
                    <textarea class="form-control" id="TeamDuty" name="comment" placeholder="该小组职责"
                              rows="5"></textarea>
                </div>
                <div class="col-md-12 tab-pane active mb20">
                    <div class="table-responsive">
                        <!-- case:teamCategory -->
                        <table id="protectCategory-table"></table>
                    </div>
                </div>
                <label class="col-md-2 control-label">所负责部队<span class="asterisk">*</span></label>
                <div class="col-md-6 mb30 tab-pane">
                    <div class="ckbox ckbox-success" th:each="item:${army_list}">
                        <input name="checkBox" required th:id="ck + ${item.getArmy_id()}"
                               th:value="${item.getArmy_id()}" type="checkbox">
                        <label th:for="ck + ${item.getArmy_id()}" th:text="${item.getArmy_name()}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="newProtectTeam" type="button">保存</button>
                </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 加载人员模态框 modal -->
<div class="modal fade" id="peopleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button"><span>&times;</span></button>
                <h4 class="modal-title">保障人员表</h4>
                <p class="modal-p"></p>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="teamDepartment"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 加载携带装备模态框 modal -->
<div class="modal fade" id="categoryModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button"><span>&times;</span></button>
                <h4 class="modal-title">装备表</h4>
                <p class="modal-p"></p>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="teamCategory"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 功能测试按钮 -->
<script>
    $("#testBtn").click(function () {
        let armyList = document.getElementsByName("checkBox");
        console.log(armyList);
        let array = new Array();
        for (let i = 0; i < armyList.length; i++) {
            if (armyList[i].checked) {
                array.push(armyList[i].value);
            }
        }
        let armyListStr = array.join(",");
    });
</script>

<script>
    // 加载共同头部
    $(function () {
        $('.left').load("left");
        // $('.head').load("head");
        if (localStorage.getItem("chooseSimilarFlag") === "chosen") {

        }
    });

    function getSimilarContent(){
        $.ajax({
            type:'POST',
            url:"/AddSimilarProtectionGroup",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(localStorage.getItem("similarSchemeId")),
            dataType: "json",
            async: false,
            success:function () {
                
            },
            error:function () {

            }
        })
    }

    // 存储点击控件的ID
    let BtnId;
    $("button[name^='modal']").on('click', getBtnId);

    function getBtnId() {
        BtnId = $(this).attr("id");
    }

    // 加载人员信息并新增保障大组 GroupId
    $("#newTeamModal").on('show.bs.modal', function () {
        // 打开页面，设置选中为空
        localStorage.setItem("selected_leader", "");
        localStorage.setItem("selected_people", "");

        // 加载保障人员信息
        peopleDataInit('teamLeader');
        peopleDataInit('deputyHead');
        peopleDataInit('teamMember');

        // 加载保障器材信息
        categoryDataInit('teamCategory');
        // console.log(getHtmlElementId());
        let title = $("#" + BtnId).text();
        // console.log(typeof title);
        $('.myModal-title').text(title);
        let describe = $("#" + BtnId + "Toolbar").parents(".bootstrap-table").prev().text();
        console.log("describe" + describe);
        $('.myModal-p').text(describe);
        // 去除title中的首尾空格
        let a = $.trim(title);
        // 截取后五个字符串
        let groupName = a.slice(-5);
        $('.myModal-span').text(groupName);
        let groupInfo = {
            scheme_id: localStorage.getItem("scheme_id"),
            group_name: groupName,
            group_type: BtnId
        };
        let groupStr = JSON.stringify(groupInfo);
        $.ajax({
            type: 'POST',
            data: groupStr,
            contentType: "application/json;charset=UTF-8",
            url: '/AddSchemeGroup',
            dataType: 'json',
            async: false,
            success: function (data) {
                console.log("groupId:" + data.group_id);
                localStorage.setItem("group_id", data.group_id)
                // alert("Add group success");
            },
            error: function () {
                console.error("error");

            }
        });
    });

    // 增加保障机构内小编组 TeamId
    $("#newProtectTeam").click(function () {
        let groupId = localStorage.getItem("group_id");
        let teamName = $("#teamName").val();
        let teamDuty = $("#TeamDuty").val();
        let leaderId = getTeamLeaderId();
        let deputyHeadId = getDeputyHeadId();
        let teamMemberIds = getTeamMemberId();

        let teamDepartment = [{
            department_name: "组长",
            department_people: leaderId
        }, {
            department_name: "副组长",
            department_people: deputyHeadId
        }, {
            department_name: "组员",
            department_people: teamMemberIds
        }];

        let armyList = document.getElementsByName("checkBox");
        console.log(armyList);
        let array = new Array();
        for (let i = 0; i < armyList.length; i++) {
            if (armyList[i].checked) {
                array.push(armyList[i].value);
            }
        }
        let armyListStr = array.join(",");

        let teamCategoryRows = getCategoryList();

        let Team = {
            group_id: groupId,
            team_type: BtnId,
            team_name: teamName,
            army_id: armyListStr,
            team_department: teamDepartment,
            team_category: teamCategoryRows,
            team_duty: teamDuty
        };
        let TeamStr = JSON.stringify(Team);
        // console.log(TeamStr);
        $.ajax({
            type: "POST",
            data: TeamStr,
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            url: "/AddTeam",
            async: false,
            success: function () {
                $("#newTeamModal").modal('hide');
                swal("成功！", "保障队伍添加成功", "success");
            },
            error: function () {
                console.error("error");
            }
        })
    });

    $("#addProtectionGroup").click(function () {
        location.href = "/edit_equipment?scheme_id=" + localStorage.getItem("scheme_id");
    });
</script>

<!-- 加载结果Table -->
<script>
    // 加载一次作战活动重的不同梯队
    let $teamDepartment = $('#teamDepartment');
    let $teamCategory = $('#teamCategory');
    // 注意，此操作应该置于InitTable之前
    window.operateEvents = {
        'click #deleteActionGroup': function (e, value, row, index) {
            console.log(value);
            swal({
                title: "确定删除吗？",
                text: "你将无法恢复该操作！",
                icon: "warning",
                buttons: ["取消", "确认删除"],
                dangerMode: true,
            }).then(function (willDelte) {
                if (willDelte) {
                    $.ajax({
                        type: 'DELETE',
                        url: "/DeleteTeam?teamId=" + row.team_id,
                        success: function () {
                            swal("删除！", "已经被删除。",
                                "success");
                            $('table[id$=GroupTable]').bootstrapTable('refresh');
                        },
                        error: function () {
                            swal("失败！", "请刷新后再试",
                                "error");
                        }
                    })
                }
            })
        },
        'click #showPeople': function (e, value, row, index) {
            $("#peopleModal").modal('show');
            InitSubTable1(row.team_id);
            $('.modal-p').text(row.team_name);
        },
        'click #showCategory': function (e, value, row, index) {
            $("#categoryModal").modal('show');
            InitSubTable2(row.team_id);
            $('.modal-p').text(row.team_name);
        }
    };

    protectDataInit("repairTeam");
    protectDataInit("protectTeam");
    protectDataInit("supplyTeam");

    function protectDataInit(name) {
        let url, tableName, toolBar;
        switch (name) {
            case 'repairTeam':
                tableName = "repairGroupTable";
                toolBar = "repairToolbar";
                url = '/GetTeamMsg?scheme_id=' + localStorage.getItem("scheme_id") + "&type=repair";
                break;
            case 'protectTeam':
                tableName = "protectGroupTable";
                toolBar = "protectToolbar";
                url = '/GetTeamMsg?scheme_id=' + localStorage.getItem("scheme_id") + "&type=protect";
                break;
            case 'supplyTeam':
                tableName = "supplyGroupTable";
                toolBar = "supplyToolbar";
                url = '/GetTeamMsg?scheme_id=' + localStorage.getItem("scheme_id") + "&type=supply";
                break;
        }
        // $('#' + tableName).empty();
        $('#' + tableName).bootstrapTable('destroy').bootstrapTable({
            method: "GET",                     //使用get請求到服務器獲取數據
            dataType: "json",
            url: url,
            toolbar: '#' + toolBar,                //一個jQuery 選擇器，指明自定義的toolbar 例如:#toolbar, .toolbar.
            contentType: 'application/json,charset=utf-8',
            striped: false,                      // 隔行加亮
            showRefresh: true,                  //是否顯示刷新按鈕
            clickToSelect: false,                //是否啟用點擊選中行
            columns: [{
                field: 'team_id',
                title: '小组ID',
                visible: false
            }, {
                field: 'team_name',
                align: 'center',
                valign: 'middle',
                title: '保障组名称',
            }, {
                field: 'group_name',
                align: 'center',
                valign: 'middle',
                title: '所属于保障类型',
            }, {
                field: 'army_name',
                align: 'center',
                valign: 'middle',
                title: '目标单位'
            }, {
                field: 'team_duty',
                align: 'center',
                valign: 'middle',
                title: '保障组职责'
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                width: '20%',
                events: operateEvents,
                formatter: operateFormatter
            }],
        });
    }

    function InitSubTable1(teamId) {
        $teamDepartment.bootstrapTable('destroy');
        $teamDepartment.bootstrapTable({
            url: '/GetTeamDepartmentMsg?teamId=' + teamId,
            method: 'get',
            clickToSelect: true,
            detailView: true,
            sortable: true,
            sortName: 'department_id',
            sortOrder: "asc",
            pageSize: 10,
            pageList: [10, 25],
            columns: [{
                field: 'department_id',
                title: '队伍ID',
                visible: false
            }, {
                field: 'department_name',
                title: '组内分工',
                align: 'center',
                valign: 'middle',
            }, {
                field: 'departmentPeopleList',
                title: '查看人员',
                align: 'center',
                formatter: function (value, row, index) {
                    return [
                        '<button type="button" class="btn btn-default tableed " onclick="view(\'' + index + '\')">查看</button> '
                    ]
                }
            }],
            onExpandRow: function (index, row, $detail) {
                InitSonTable(index, row, $detail)
            }
        });
    }

    InitSonTable = function (index, row, $detail) {
        let parentId = row.department_id;
        let cur_table = $detail.html('<table></table>').find('table');
        $(cur_table).bootstrapTable('destroy');
        $(cur_table).bootstrapTable({
            url: '/GetDepartmentPeople?departmentId=' + parentId,
            method: 'GET',
            queryParams: {strParentID: parentId},
            ajaxOptions: {strParentID: parentId},
            clickToSelect: true,
            pageSize: 10,
            pageList: [10, 25],
            columns: [{
                field: 'people_id',
                title: '队伍ID',
                visible: false
            }, {
                field: 'people_name',
                title: '姓名',
                align: "center"
            }, {
                field: 'people_profession',
                title: '专业',
                align: 'center'
            }, {
                field: 'people_job',
                title: '职业',
                align: 'center'
            }, {
                field: 'people_army_name',
                title: '所属部队',
                align: 'center'
            }, {
                field: 'people_profession',
                title: '专业',
                align: 'center'
            }]
        });
    };

    function InitSubTable2(teamId) {
        $teamCategory.bootstrapTable('destroy');
        $teamCategory.bootstrapTable({
            url: '/GetTeamCategoryMsg?teamId=' + teamId,
            method: 'get',
            clickToSelect: true,
            pageSize: 10,
            pageList: [10, 25],
            columns: [{
                field: 'category_id',
                title: '队伍ID',
                visible: false
            }, {
                field: 'category_name',
                title: '装备名称',
                align: 'center'
            }, {
                field: 'category_number',
                title: '装备数量',
                align: 'center',
                width: '15%'
            }, {
                field: 'category_unit',
                title: "单位",
                align: 'center',
                width: '10%'
            }]
        });
    }

    function view(str) {
        var a = $('.tableed ').eq(str).html();
        if (a == '查看') {
            $('.tableed ').eq(str).html('收起');
            $teamDepartment.bootstrapTable('expandRow', str);
        } else {
            $('.tableed ').eq(str).html('查看');
            $teamDepartment.bootstrapTable('collapseRow', str);
        }
        event.stopPropagation();
    }

    function operateFormatter(value, row, index) {
        return [
            '<button type="button" style="color: white" id="showPeople" class="btn btn-primary">查看人员</button> ' +
            '&nbsp;' +
            '<button type="button" style="color: white" id="showCategory" class="btn btn-success">查看装备</button> ' +
            '&nbsp;' +
            '<button class="btn btn-danger" id="deleteActionGroup" type="button">删除</button>'
        ]
    }
</script>

</body>
</html>