<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">

    <title>方案效能评估</title>

    <link href="/css/style.default.css" rel="stylesheet"/>
    <link href="/css/style.DarkKnight.css" rel="stylesheet"/>
    <link href="/css/bootstrap-select.css" rel="stylesheet">
    <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modernizr.min.js"></script>
    <script src="/js/toggles.min.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/js/jquery.cookies.js"></script>
    <script src="/js/bootstrap-select.js"></script>

    <script src="/js/jquery.autogrow-textarea.js"></script>
    <script src="/js/jquery.maskedinput.min.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>
    <script src="/js/bootstrap-wizard.min.js"></script>
    <script src="/js/jquery.bootstrap.wizard.js"></script>
    <script src="/js/dropzone.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.rowspanizer.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <!--    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>-->


    <script src="/js/custom.js"></script>


    <style type="text/css">
        tr > th, tr > td {
            text-align: center;
            vertical-align: middle !important;
        }

        .radio input[type=radio] {
            position: static;
            margin: 0 0 0 0;
            margin-top: 4px \9;
        }

        [name^="EvaInput"] {
            outline: none;
            border: 0px;
            cursor: pointer;
            background-color: #fcfcfc;
            text-align: center
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div aria-labelledby="myModalLabel" class="modal fade" id="pdf_Modal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document" style="width: 1000px;height: 1600px;z-index:1500">
        <div class="modal-content pro_modal">
            <iframe id="pdfContainer" name="pdfContainer" src=""></iframe>
        </div>
    </div>
</div>

<section>

    <div class="leftpanel">

        <div class="logopanel">
            <h1><span>[</span>装备保障系统<span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <h5 class="sidebartitle">方案评估</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="nav-parent nav-active active"><a href=""><i class="fa fa-home"></i> <span>方案列表</span></a>
                    <ul class="children" style="display: block">
                        <li class="active"><a href=""><i class="fa fa-caret-right"></i>方案详细列表</a></li>
                        <li><a href=""><i class="fa fa-caret-right"></i>方案评估结果</a></li>
                    </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span>评估准则管理</span></a>
                    <ul class="children">
                        <li><a href=""><i class="fa fa-caret-right"></i>完整性评估</a></li>
                        <li><a href=""><i class="fa fa-caret-right"></i>合理性评估</a></li>
                        <li><a href=""><i class="fa fa-caret-right"></i>有效性评估</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-edit"></i> 方案评估 <span>专家打分...</span></h2>
        </div>

        <div class="contentpanel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a class="panel-close" href="">&times;</a>
                        <a class="minimize" href="">&minus;</a>
                    </div>
                    <h4 class="panel-title">待评估方案列表</h4>
                    <p>
                        <b>评估专家</b>可选作战指挥部门（作战部门首长1名、作战参谋2名）、装备保障部门（装备部门首长1名、战计参谋1名、维修分队人员1名）、装备保障专家（院校1名、研究所1名、军工厂1名、以上3名专家专业领域分别为维修保障、弹药保障、器材保障）。
                    </p>
                </div>
                <div class="panel-body">
                    <!-- BASIC WIZARD -->
                    <!-- Question 这里是否需要request -->
                    <div class="basic-wizard" id="progressWizard">
                        <div class="tab-content">
                            <div class="form-group">

                                <form class="form" id="form1">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-primary table-bordered mb30">
                                            <thead>
                                            <tr>
                                                <th>方案ID</th>
                                                <th>方案名称</th>
                                                <th>参与评估专家</th>
                                                <th>当前方案分数（满分为1）</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="schemeListTbody"></tbody>
                                            <!--<tbody>-->
                                            <!--<tr>-->
                                            <!--<td>19625</td>-->
                                            <!--<td>中韩-威慑拒止-04月-04232</td>-->
                                            <!--<td>8</td>-->
                                            <!--<td>0.84</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href="" title="评估"><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" title="删除" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>54205</td>-->
                                            <!--<td>中韩-威慑拒止-04月-0428</td>-->
                                            <!--<td>6</td>-->
                                            <!--<td>0.42</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>52336</td>-->
                                            <!--<td>中印-威慑拒止-06月-0602</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>15436</td>-->
                                            <!--<td>中印-威慑拒止-06月-0165</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>51646</td>-->
                                            <!--<td>中印-威慑拒止-02月-1056</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>33416</td>-->
                                            <!--<td>中印-威慑拒止-03月-7954</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>35416</td>-->
                                            <!--<td>中印-威慑拒止-04月-7894</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td>15674</td>-->
                                            <!--<td>首都-威慑拒止-07月-0602</td>-->
                                            <!--<td>4</td>-->
                                            <!--<td>0.78</td>-->
                                            <!--<td class="table-action">-->
                                            <!--<a href=""><i class="fa fa-pencil"></i></a>-->
                                            <!--<a class="delete-row" href=""><i class="fa fa-trash-o"></i></a>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        </table>
                                    </div><!-- table-responsive -->
                                </form><!-- form1 -->
                            </div>
                        </div><!-- tab-content -->
                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary">保存</button>&nbsp;
                            <button class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div><!-- panel-footer -->
            </div><!-- panel -->
        </div><!-- contentpanel -->
    </div><!-- mainpanel -->

</section>


<script>
    jQuery(document).ready(function () {

        // 获取完整性表格数据
        let data1 = getData("/evaluate/getSchemeList").getXml();
        let table = "#schemeListTbody";
        createTable(table, data1);

    });


    // 获取评估方案准则
    function getData(urls) {
        let xml;
        $.ajax({
            url: urls,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (data) {
                xml = data;
            },
            error: function () {
                console.error("获取方案表出错");
            }
        });
        return {
            getXml: function () {
                if (xml) return xml;
            }
        }
    }

    // 创建表格
    function createTable(table, data) {
        let array = data.schemeEvaluate;
        for (let i in array) {
            let html = $("<tr></tr>");
            html.append("<td><label>" + array[i].scheme_id + "</label></td>");
            html.append("<td><label>" + array[i].scheme_name + "</label></td>");
            html.append("<td><label>" + array[i].evaluate_count + "</label></td>");
            html.append("<td><label>" + array[i].evaluate_result + "</label></td>");
            html.append("<td class='table-action'><a href='/evaluate/process/"+array[i].scheme_id+"'><i class=\"fa fa-pencil\"></i></a></td>")
            html.appendTo(table);
        }
    }


</script>


</body>
</html>
