<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<style>
    #loading1{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top:0;
        left: 0;
        z-index: 9999;
    }
    #loading1 >div{
        width: 72px;
        height: 72px;
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        margin: auto;
    }
</style>
<div id="loading1">
    <div id="status1"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div id="pressuretable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="pressureDescriptionTips">
        <li><div class="checkbox block"><input type="checkbox">西藏地区空气稀薄，大气压力低，空气电抗强度降低，高压器件绝缘性能大幅下降，主要对雷达设备的影响较大，如高压继电器触点之间、高压导线与机壳之间和高低压导线之间容易形成电弧、花火，极易造成高压设备打火；</div></li>
        <li><div class="checkbox block"><input type="checkbox">
            低气压条件下，要重点关注雷达的高电压，大功率器件，发射系统、显示器的高压电源等部位，一是在使用中要针对可能出现的打火，增加静电循环检查，器件外观检查，疑点部位测量检查、高压线路走向间隔检查。
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            高压器件耐压性急剧下降，使用寿命减少；非增压发动机对高原环境的适应性比增压发动机差，如油机由于燃烧不充分，造成发动机转速不稳，排气冒黑烟；
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            高原地区云层低，为雷电多发地带，雷击可能使武器系统遭受严重损坏；
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            低气压条件下，要重点关注雷达的高电压，大功率器件，发射系统、显示器的高压电源等部位
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            在使用中要针对可能出现的打火，增加静电循环检查，器件外观检查，疑点部位测量检查、高压线路走向间隔检查。
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            对接触部分涂抹绝缘胶，防止打火放电；高压导线应尽量拉直平滑，远离低压线。
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            控制好雷达发射机升高压节奏，适当增加电子管预热时间，必要时调低发射机高压，将发射机高压置规定值下限，尽量限制引发发射机打火的诱因
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            天馈线系统波导气压严格按照规定值充气，防止天馈线系统打火，发现打火应立即关机。
        </div></li>
        <li><div class="checkbox block"><input type="checkbox">
            对接接触器、继电器等有触点的电器，要定期用酒精擦拭。
        </div></li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var pressureChart = echarts.init(document.getElementById('pressuretable'));
    var PressureDataList = [];
    // var DataList = [];
    function showCharts() {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=pressure',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    PressureDataList.push(data_list[i].pressure);
                    // DataList.push(data_list[i].month_time);
                }
                // 指定图表的配置项和数据
                var option = {
                    title: {
                        text: '往年气压变化',
                        // subtext: '说明性文字',
                        x: 'center'
                    },
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: {type: 'cross'}
                        formatter: function (params) {
                            var relVal = params[0].name + '月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value;
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['气压数据'],
                        x: 'left'
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: 80,
                        right: 50,
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                // rotate: 30,
                                // interval: 0
                                formatter: '{value} 月'
                            },
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            boundaryGap: false,
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '压强',
                            min: 500,
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel: {
                                formatter: '{value} hPa'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '气压数据',
                            type: 'line',
                            // symbol: 'none',  // 设置之后无小点
                            smooth: true,
                            color: ['#15971f'],
                            data: PressureDataList
                            // 在 轴 上显示数据
                            // itemStyle: {
                            //     normal: {
                            //         label: {
                            //             show: true,
                            //             position: 'top',
                            //             textStyle: {
                            //                 color: 'black',
                            //                 fontSize: 12
                            //             },
                            //         }
                            //     }
                            // }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                pressureChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#pressureDescriptionTips").append(tips);
                }
            },
        }, JSON)
    }

    setTimeout(function () {
        $("#loading1").fadeOut();
        showCharts();
    },2000)
</script>
<!--</body>-->
<!--</html>-->