<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="temperaturetable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="temperatureDescriptionTips">
        <li>发射车程控状态下，液压系统建压，但是不执行动作，或动作执行后，但液压系统压力不降。</li>
        <li>更换1号调平支腿。液压油泵停止工作，在前调平油缸下方放置棉纱，防止油管油液流至地面；将连接前调平油缸的进出油管拆下，各油口用工艺塑料堵头或塑料布包牢，以防污物进入。将前调平油缸放在枕木上，进出油口处于最高点，以防油液流出。用各紧固件将前调平油缸紧固于载车上，然后，再将以上各件装在相应的调平油缸上，最后对螺钉涂乐泰222 胶粘剂；启动液压油泵，执行发射车调平动作，检查调平系统各液压元件及管路等均不能有渗漏油，调平油缸调平功能正常。</li>
        <li>检查水冷系统“收集极”、“管体”、“聚焦”三路流量是否正常，检查水冷机柜顶部水箱中液位是否正常，检查冷却控保组合面板“水冷”温度表头显示的水温。</li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var temperatureChart = echarts.init(document.getElementById('temperaturetable'));
    var TemperatureDataList = [];
    // var DataList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=temperature',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    TemperatureDataList.push(data_list[i].temperature);
                    // DataList.push(data_list[i].month_time);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: {type: 'cross'}
                        formatter:function(params)
                        {
                            var relVal = params[0].name+'月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value+"°C";
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['温度数据']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                // rotate: 30,
                                // interval: 0
                                formatter: '{value} 月'
                            },
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            boundaryGap: false,
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '温度',
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel:{
                                formatter: '{value} °C'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '温度数据',
                            type: 'line',
                            // symbol: 'none',  // 设置之后无小点
                            smooth: true,
                            color: ['#15971f'],
                            data: TemperatureDataList,
                            // 在 轴 上显示数据
                            // itemStyle: {
                            //     normal: {
                            //         label: {
                            //             show: true,
                            //             position: 'top',
                            //             textStyle: {
                            //                 color: 'black',
                            //                 fontSize: 12
                            //             },
                            //         }
                            //     }
                            // }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                temperatureChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#descriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->