<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="rainfalltable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="rainfallDescriptionTips">
        <li>
            架设便携式避雷针。在雷达阵地，发射阵地，技术保障阵地和库房要按技术要求设置避雪装置，并定期检查，确保接地良好
        </li>
        <li>
            增加备件，针对潮湿环境下电气设备易打火，击穿的情况应尽可能多准备备件，尤其是高压部位备件一定要齐全，保证出现异常情况能及时处置
        </li>
        <li>
            通风去除湿气。应将装备放置于通风位置，保持空气流通，晴朗或湿度较小的天气，应打开车厢门窗，进行自然通风去潮。
        </li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var rainfallChart = echarts.init(document.getElementById('rainfalltable'));
    var RainfalleDataList = [];
    var EveryRainfalleDataList =[];
    // var DataList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=rainfall',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    var rainfall = data_list[i].rainfall;
                    var month = data_list[i].month_time;
                    var Rain;
                    RainfalleDataList.push(rainfall);
                    // DataList.push(month);
                    switch (month) {
                        case 2:
                            Rain = Math.round(rainfall/28);
                            break;
                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            Rain = Math.round(rainfall/30);
                            break;
                        default:
                           Rain = Math.round(rainfall/31);
                    }
                    EveryRainfalleDataList.push(Rain);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {type: 'shadow'},
                        formatter:function(params)
                        {
                            var relVal = params[0].name + '月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value+" ml";
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['月总降雨量','每日平均雨量']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                formatter: '{value} 月'
                            },
                            type: 'category',
                            axisTick: {
                                // alignWithLabel: true
                                show: false
                            },
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '降雨量',
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel:{
                                formatter: '{value} ml'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '月总降雨量',
                            type: 'bar',
                            barGap:0.1,
                            barWidth:'20%',
                            // smooth: true,
                            color: ['#003366'],
                            data: RainfalleDataList
                        },{
                            name: '每日平均雨量',
                            type: 'bar',
                            // smooth: true,
                            color: ['#006699'],
                            barWidth:'20%',
                            data: EveryRainfalleDataList
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                rainfallChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#rainfallDescriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->