<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<style>
    #loading4 {
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    #loading4 > div {
        width: 72px;
        height: 72px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>
<div id="loading4">
    <div id="status4"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div id="rainfalltable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="rainfallDescriptionTips">
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            西藏地区全年多晴朗天气，降雨稀少，降水集中在6—9月份，多夜雨，为雨季。-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            干燥的环境会导致装备接地性能不好，影响装备工作的稳定性，导致故障率提高，同时干燥的环境也会导致静电的产生，导致维护难度的增加；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            雨季降雨频繁，空气湿度大，需注意非密封结构器件受潮进水容易导致装备出现各类故障；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            电气设备进水，受潮后绝缘性能下降。容易产生漏电，短路、打火，严重时会击穿烧坏元器件，高频电缆受潮后驻波系数变化，造成高频信号产生畸变，影响兵器性能；野战条件下执行任务，条件简陋，装备处于露天状态存放，各种金属构件进水、受潮或接触腐蚀介质后，会造成腐蚀、生绣，导致机件运转不灵活，卡滞，以致构件的机械强度降低，构造构件断裂；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            武器装备开机前应酌情通风加温去潮，雨后要及时清除武器装备内外和阵地周围的积水，天气晴朗时，及时去掉装备的盖布，打开车门、窗口，自然通风去潮；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            平时关好车门，窗门，盖好盖布和防水套。加强检查维护，对动力电源接插头要加强检查防护，防止因潮湿导致烧蚀；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            对裸露的金属表面要涂油；车辆电瓶适时进行充电，防止因潮湿漏电而导致车辆不能正常启动，对电瓶极柱适当涂油，进行防锈处理；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            突出对高压电路的检查，当发现高压器件发霉或线缆发粘时，应及时晾干；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            导线发粘时，要及时包扎或更换；-->
        <!--        </div></li>-->
        <!--        <li><div class="checkbox block"><input type="checkbox">-->
        <!--            对裸露电缆头进行密封，防止巨大温差凝露导致电缆接口短路，天气条件允许时注意通风去潮。-->
        <!--        </div></li>-->
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    let rainfallChart = echarts.init(document.getElementById('rainfalltable'));
    let RainfalleDataList = [];
    let EveryRainfalleDataList = [];
    let monthBegin = parseInt(localStorage.getItem("month")) - 1;
    let monthEnd = parseInt(localStorage.getItem("monthEnd")) - 1;

    // var DataList = [];
    function showRainfallCharts() {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=rainfall',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    var rainfall = data_list[i].rainfall;
                    var month = data_list[i].month_time;
                    // var Rain;
                    var RainWhole;
                    EveryRainfalleDataList.push(rainfall);
                    // DataList.push(month);
                    switch (month) {
                        case 2:
                            // Rain = Math.round(rainfall / 28);
                            RainWhole = rainfall * 28;
                            break;
                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            // Rain = Math.round(rainfall / 30);
                            RainWhole = rainfall * 30;
                            break;
                        default:
                            // Rain = Math.round(rainfall / 31);
                            RainWhole = rainfall * 31;
                    }
                    RainfalleDataList.push(RainWhole.toFixed(2));
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    title: {
                        text: '往年降雨量变化',
                        // subtext: '说明性文字',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {type: 'shadow'},
                        formatter: function (params) {
                            var relVal = params[0].name + '月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value + " mm";
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['月总降雨量', '每日平均雨量'],
                        x: 'left'
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    grid: {
                        left: 60,
                        right: 50,
                    },
                    xAxis: [
                        {
                            axisLabel: {
                                formatter: '{value} 月'
                            },
                            type: 'category',
                            axisTick: {
                                // alignWithLabel: true
                                show: false
                            },
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '降雨量',
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel: {
                                formatter: '{value} mm'
                            }
                        }
                    ],
                    visualMap: {
                        show: false,
                        dimension: 0,
                        pieces: [],
                        outOfRange: [{color: ['#003366']}, {color: ['#006699']}]
                    },
                    series: [
                        {
                            name: '月总降雨量',
                            type: 'bar',
                            barGap: 0.1,
                            barWidth: '20%',
                            // smooth: true,
                            color: ['#003366'],
                            data: RainfalleDataList
                        }, {
                            name: '每日平均雨量',
                            type: 'bar',
                            // smooth: true,
                            color: ['#006699'],
                            barWidth: '20%',
                            data: EveryRainfalleDataList
                        }
                    ]
                };
                // 设置pieces
                option.visualMap.pieces[0] = {gte: monthBegin, lte: monthEnd, color: ['#ff8e23']};
                // 使用刚指定的配置项和数据显示图表。
                rainfallChart.setOption(option);

                // 特情部分的获取
                let case_list = data.case_list;
                for (let i = 0; i < case_list.length; i++) {
                    let tips = $("<li>");
                    tips.append("<div class='checkbox block'><input type='checkbox' checked value=" + case_list[i].case_id + ">" + case_list[i].description + "</div>");
                    $("#rainfallDescriptionTips").append(tips);
                }
            },
        }, JSON)
    }

    setTimeout(function () {
        $("#loading4").fadeOut();
        showRainfallCharts();
    }, 2000)
</script>
<!--</body>-->
<!--</html>-->