<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="snowfalltable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="descriptionTips">
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var snowfallChart = echarts.init(document.getElementById('snowfalltable'));
    var SnowFallDataList = [];
    var EverySnowFallDataList =[];
    // var DataList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=snowfall',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    var snowfall = data_list[i].snowfall;
                    var month = data_list[i].month_time;
                    var snow;
                    SnowFallDataList.push(snowfall);
                    // DataList.push(month);
                    switch (month) {
                        case 2:
                            snow = Math.round(snowfall/28);
                            break;
                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            snow = Math.round(snowfall/30);
                            break;
                        default:
                            snow = Math.round(snowfall/31);
                    }
                    EverySnowFallDataList.push(snow);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {type: 'shadow'},
                        formatter:function(params)
                        {
                            var relVal = params[0].name + '月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value+" ml";
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['月总降雪量','每日平均雪量']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                formatter: '{value} 月'
                            },
                            type: 'category',
                            axisTick: {
                                // alignWithLabel: true
                                show: false
                            },
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '降雪量',
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel:{
                                formatter: '{value} ml'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '月总降雪量',
                            type: 'bar',
                            barGap:0.1,
                            barWidth:'20%',
                            // smooth: true,
                            color: ['#0d60b7'],
                            data: SnowFallDataList
                        },{
                            name: '每日平均雪量',
                            type: 'bar',
                            // smooth: true,
                            color: ['#6ed4ee'],
                            barWidth:'20%',
                            data: EverySnowFallDataList
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                snowfallChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#descriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->