<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="pressuretable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="pressureDescriptionTips">
        <li>
            低气压条件下，要重点关注雷达的高电压，大功率器件，发射系统、显示器的高压电源等部位，一是在使用中要针对可能出现的打火，增加静电循环检查，器件外观检查，疑点部位测量检查、高压线路走向间隔检查。
        </li>
        <li>
            对接触部分涂抹绝缘胶，防止打火放电；高压导线应尽量拉直平滑，远离低压线，
        </li>
        <li>
            控制好雷达发射机升高压节奏，适当增加电子管预热时间，必要时调低发射机高压，将发射机高压置规定值下限，尽量限制引发发射机打火的诱因，
        </li>
        <li>
            天馈线系统波导气压严格按照规定值充气，防止天馈线系统打火，发现打火应立即关机。
        </li>
        <li>
            对接接触器、继电器等有触点的电器，要定期用酒精擦拭。
        </li>
        <li>
            装备进高原后，空气中含氧量降低，动力系统效率低，供电系统输出功率降低和兵器载车承载能力降低，为了保证兵器装备的正常工作，应结合高原环境特点，加强装备动力系统调整维护工作，一是及时给水箱加满水并拧紧水箱盖，调整通风设施，降低发动机的工作环境温度，防止柴油机水箱开锅；可根据要求更换水箱内的冷却水，提高柴油机水箱冷却水的沸点。二是根据驻地海拔高度和空气密度，对发动机的柴油机供油提前角进行调整，使进入汽缸中的可燃混合气的密度适当，解决燃油燃烧不充分、发动机冒黑烟的问题，三是对电源车的手油泵及燃油管路用密封胶进行密封，防止燃油系统进空气，影响柴油机工作状态。
        </li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var pressureChart = echarts.init(document.getElementById('pressuretable'));
    var PressureDataList = [];
    var pressureMonthList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=pressure',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    PressureDataList.push(data_list[i].pressure);
                    pressureMonthList.push(data_list[i].month_time);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: {type: 'cross'}
                        formatter:function(params)
                        {
                            var relVal = params[0].name +'月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>' + params[i].seriesName + ' : ' + params[i].value;
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['气压数据']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                // rotate: 30,
                                // interval: 0
                                formatter: '{value} 月'
                            },
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            boundaryGap: false,
                            data: pressureMonthList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '压强',
                            min:6150,
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel:{
                                formatter: '{value} psk'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '气压数据',
                            type: 'line',
                            // symbol: 'none',  // 设置之后无小点
                            smooth: true,
                            color: ['#15971f'],
                            data: PressureDataList
                            // 在 轴 上显示数据
                            // itemStyle: {
                            //     normal: {
                            //         label: {
                            //             show: true,
                            //             position: 'top',
                            //             textStyle: {
                            //                 color: 'black',
                            //                 fontSize: 12
                            //             },
                            //         }
                            //     }
                            // }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                pressureChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#pressureDescriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->