<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="sunshinetable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="sunshineDescriptionTips">
        <li>在发射机发生高压故障时，首先要根据故障现象判断是高压电源本身的故障还是发射机高压部分打火引起的高压故障。若“高压”故障的同时，钛泵电源组合电流变大，则说明多注速调管有打火现象，需对管子进行老练；若报“高压”故障，钛泵电源组合电流没有变化，复位后高压还能加上，则说明发射机内高压部分有放电现象，需要对发射机进行除尘和检查；当确定是高压电源本身故障后，再进一步检查高压电源。</li>
        <li>首先切换到模拟状态，差2领示显示正常，模拟目标跟踪正常，说明接收机组合2后的系统工作正常；通过在高频接收机1输出端进行差1支路和差2支路电缆的交换检查，发现搜索台监视器的差1支路领示消失，说明故障问题集中到高频接收机1内；打开高频接收机1组合，检查电缆连接没有问题后，更换差2前中盒后，领示显示正常。</li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var sunshineChart = echarts.init(document.getElementById('sunshinetable'));
    var SunshineList = [];
    var WholeSunshineList = [];
    // var DataList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=temperature',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    var sunshine = data_list[i].sunshine;
                    var month =data_list[i].month_time;
                    var wholeSun;
                    SunshineList.push(sunshine);
                    // DataList.push(month);
                    switch (month) {
                        case 2:
                            wholeSun = 28*sunshine;
                            break;
                        case 4:
                        case 6:
                        case 9:
                        case 11:
                            wholeSun = 30*sunshine;
                            break;
                        default:
                            wholeSun = 31*sunshine;
                    }
                    WholeSunshineList.push(wholeSun);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: {type: 'cross'}
                        formatter:function(params)
                        {
                            var relVal = params[0].name+'月';
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '<br/>'+ params[i].seriesName + ' : '+ params[i].value;
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['总日照','平均日照']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    // calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                // rotate: 30,
                                // interval: 0
                                formatter: '{value} 月'
                            },
                            axisLine: {
                                lineStyle: {
                                    // color: '#e97817'
                                }
                            },
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            // boundaryGap: false,
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '总日照',
                            min:0,
                            max:300,
                            position: 'right',
                            axisLine: {
                                lineStyle: {
                                    color: '#0d60b7'
                                }
                            }
                        },
                        {
                            type: 'value',
                            name: '平均日照',
                            min:0,
                            max:10,
                            axisLine: {
                                lineStyle: {
                                    color: '#e97817'
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '总日照',
                            type: 'bar',
                            // symbol: 'none',  // 设置之后无小点
                            // smooth: true,
                            barWidth: '30%',
                            color: ['#0d60b7'],
                            data: WholeSunshineList
                        },
                        {
                            name: '平均日照',
                            type: 'line',
                            // symbol: 'none',  // 设置之后无小点
                            // smooth: true,
                            color: ['#e97817'],
                            yAxisIndex: 1,
                            data: SunshineList
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                sunshineChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#descriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->