<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Air pressure</title>-->
<!--</head>-->
<!--<body>-->
<div id="windLeveltable" style="width:64%;height:500px; float: left"></div>
<div style="width: 36%;float: right">
    <ul id="WindLevelDescriptionTips">
        <li>风力过大时，及时撤收兵器，将装备转移至安全地域，并加强对易损部位的防护；在不影响作战时，请示关机，切断电源。</li>
    </ul>
</div>
<!--<script src="js/jquery-1.11.1.min.js"></script>-->
<!--<script src="js/echarts.js"></script>-->
<script type="text/javascript">
    var windLevelChart = echarts.init(document.getElementById('windLeveltable'));
    var YData = [];
    // var DataList = [];
    $("#document").ready(function () {
        $.ajax({
            type: 'GET',
            url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id") + '&month=' + localStorage.getItem("month") + '&type=wind_level',
            contentType: 'application/json',
            dataType: 'JSON',
            data: {index: 0},
            success: function (data) {
                console.log(data);
                var data_list = data.data_list;
                console.log(data_list);
                for (var i = 0; i < data_list.length; i++) {
                    YData.push(data_list[i].wind_level);
                    // DataList.push(data_list[i].month_time);
                }
                // 指定图表的配置项和数据
                var option = {
                    backgroundColor: '#FBFBFB',
                    tooltip: {
                        trigger: 'axis',
                        // axisPointer: {type: 'cross'}
                        formatter:function(params)
                        {
                            var relVal = params[0].name;
                            for (var i = 0, l = params.length; i < l; i++) {
                                relVal += '月<br/>' + params[i].seriesName + ' : ' + params[i].value+"°C";
                            }
                            return relVal;
                        }
                    },
                    legend: {
                        data: ['平均风速']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    calculable: true,
                    xAxis: [
                        {
                            axisLabel: {
                                // rotate: 30,
                                // interval: 0
                                formatter: '{value} 月'
                            },
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            boundaryGap: false,
                            data: DataList
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '风速',
                            axisLine: {
                                lineStyle: {
                                    // color: '#000080'
                                }
                            },
                            axisLabel:{
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '平均风速',
                            type: 'line',
                            // symbol: 'none',  // 设置之后无小点
                            smooth: true,
                            color: ['#0d60b7'],
                            data: YData,
                            // 在 轴 上显示数据
                            // itemStyle: {
                            //     normal: {
                            //         label: {
                            //             show: true,
                            //             position: 'top',
                            //             textStyle: {
                            //                 color: 'black',
                            //                 fontSize: 12
                            //             },
                            //         }
                            //     }
                            // }
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                windLevelChart.setOption(option);

                // 特情部分的获取
                var case_list = data.case_list;
                for (var i = 0; i < case_list.length; i++) {
                    var tips = $("<li>");
                    tips.text(case_list[i].description);
                    $("#descriptionTips").append(tips);
                }
            },
        }, JSON)
    })


</script>
<!--</body>-->
<!--</html>-->