<div class="leftpanel">

    <div class="logopanel">
        <h1><span>[</span> 装备保障系统 <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" src="images/photos/loggeduser.png" class="media-object">
                <div class="media-body">
                    <h4>小张</h4>
                    <!--    <span>"Life is so..."</span> -->
                </div>
            </div>

            <h5 class="sidebartitle actitle">账户</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="profile.html"><i class="fa fa-user"></i> <span>个人信息</span></a></li>
                <li><a href=""><i class="fa fa-cog"></i> <span>个人信息修改</span></a></li>
                <li><a href=""><i class="fa fa-question-circle"></i> <span>帮助</span></a></li>
                <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
            </ul>
        </div>

        <h3 class="sidebartitle">装备保障方案</h3>
        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="active"><a href="completeness.html"><i class="fa fa-file-text"></i> <span>方案库</span></a></li>
            <!--<li><a href="scheme_model.html"><i class="fa fa-home"></i> <span>方案模板库</span></a></li>-->
        </ul>


        <!--<h5 class="sidebartitle">保障方案资料</h5>-->
        <!--<ul class="nav nav-pills nav-stacked nav-bracket">-->
            <!--&lt;!&ndash;<li class="nav-parent"><a href=""><i class="fa fa-flag"></i> <span>装备使用保障方案</span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="children">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="general-forms.html"><i class="fa fa-caret-right"></i> 任务类型</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> 保障组类别</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form-validation.html"><i class="fa fa-caret-right"></i> 器材保障组要求</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> 保障计划类别</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>装备维修保障方案</span></a>-->
                <!--<ul class="children">-->
                    <!--<li><a href="buttons.html"><i class="fa fa-caret-right"></i> 维修保障任务类型</a></li>-->
                    <!--<li><a href="icons.html"><i class="fa fa-caret-right"></i> 交通保障类型</a></li>-->
                    <!--<li><a href="typography.html"><i class="fa fa-caret-right"></i> 设备保障类型</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="maps.html"><i class="fa fa-map-marker"></i> <span>气象水文保障信息</span></a></li>-->
            <!--<li class="nav-parent"><a href="tables.html"><i class="fa fa-th-list"></i> <span>特情处置预案</span></a>-->
                <!--<ul class="children">-->
                    <!--<li><a href="buttons.html"><i class="fa fa-caret-right"></i>特情处置原则</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-caret-right"></i>伪装措施组织</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-caret-right"></i>防护措施组织</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->

    </div><!-- leftpanelinner -->
</div><!-- leftpanel -->