<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <title>装备保障系统</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>
    <script src="js/echarts.js"></script>

    <script src="js/jquery.datatables.min.js"></script>
    <script src="js/raphael-2.1.0.min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/select2.min.js"></script>

    <script src="js/custom.js"></script>

    <!--  baidu map  -->
    <script src="baidumapv2/baidumap_offline_v2_load.js" type="text/javascript"></script>
    <!--<script type="text/javascript" src="baidumapv2_demo/jquery.js"></script>-->
    <script src="baidumapv2_demo/layer/layer.js" type="text/javascript"></script>
    <link href="baidumapv2/css/baidu_map_v2.css" rel="stylesheet" type="text/css"/>
    <script src="baidumapv2_demo/stylelist.js" type="text/javascript"></script>

    <!--&lt;!&ndash; 折线图 &ndash;&gt;-->
    <script src="js/flot/jquery.flot.min.js"></script>
    <script src="js/flot/jquery.flot.resize.min.js"></script>
    <script src="js/flot/jquery.flot.spline.min.js"></script>
    <!--<script src="js/morris.min.js"></script>-->
    <script src="js/raphael-2.1.0.min.js"></script>

    <style type="text/css">
        body, html, #map_demo, #tab, #mapfrm {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        td {
            font-size: 14px
        }

        h4 {
            margin: 0;
        }

        #map_demo1, #map_demo2 {
            height: 50%
        }
    </style>
</head>
<body>
<!-- Preloader -->
<!--<div id="preloader">-->
<!--    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>-->
<!--</div>-->
<script src="js/echarts.js"></script>
<section>

    <div class="left"></div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="head"></div><!-- headerbar -->
        <div class="pageheader">
            <h2><i class="fa  fa-edit"></i> 保障方案编辑</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="#">装备保障系统</a></li>
                    <li class="active">编辑保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">环境地点特情分析</h4>
                    <p>中印方向典型的高原环境具有低气压、低温低湿、空气密度低、含氧量低、日温差大、太阳辐射强和风沙大等突出特点。</p>
                </div><!-- panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default col-md-12" style="height:800px">
                            <!--<button onclick="addPolyLine();" class="btn btn-primary mr10">生成折线</button>-->
                            <!--<button onclick="addLine()" class="btn btn-primary mr10">生成直线</button>-->
                            <!--<button onclick="calDegree()" class="btn btn-primary mr10">角度值</button>-->
                            <!--<button onclick="calDistance()" class="btn btn-primary mr10">距离值</button>-->
                            <!--<button onclick="removeLine()" class="btn btn-default mr10">清除</button>-->
                            <div class="mb20"></div>
                            <!--                            <a href="baidumapv2_demo/demo/8_0.html" target="mapfrm">设置地图模板样式</a>-->
                            <div class="mb10" id="map_demo">MapDiv</div>
                        </div><!-- col-md-12 -->
                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer"></div>
            </div><!-- panel -->
            <!-- 外部引用，有问题，getLocation是新建立的Location -->
            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnAirPressure" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史气压数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="airPressureDiv">
                        <!--  <div id="airPressure" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnHumidity" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史湿度数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="humidityDiv">
                        <!--                        <h5 class="subtitle mb5">西藏地区气候干燥，湿度低，导致植被较少，多为砂石土质地面，且云层低，为雷电多发地带。</h5>-->
                        <!--                        <p class="mb30"></p>-->
                        <!--                        <div id="humidity" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnRainfall" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史降雨量数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="rainfallDiv">
                        <!--                        <h5 class="subtitle mb5">西藏地区全年多晴朗天气，降雨稀少，降水集中在6—9月份，多夜雨，为雨季。</h5>-->
                        <!--                        <p class="mb30"></p>-->
                        <!--                        <div id="rainfall" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnSunshine" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史日照数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="sunshineDiv">
                        <!--                        <h5 class="subtitle mb5">西藏地区太阳辐射强。</h5>-->
                        <!--                        <p class="mb30"></p>-->
                        <!--                        <div id="sunshine" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnTemperature" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史温度数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="temperatureDiv">
                        <!--                        <h5 class="subtitle mb5">西藏地区气温偏低，年温差小昼夜温差大。</h5>-->
                        <!--                        <p class="mb30"></p>-->
                        <!--                        <div id="temperature" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
<!--                    <div class="panel-btns mb10">-->
<!--                        <input class="btn btn-default" id="btnWindLevel" style="float: right" type="button"-->
<!--                               value="查看数据内容">-->
<!--                    </div>-->
                    <h5 class="panel-title">历史风速数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12" id="windLevelDiv">
                        <!--                        <h5 class="subtitle mb5">西藏地区年大风期长。</h5>-->
                        <!--                        <p class="mb30"></p>-->
                        <!--                        <div id="windLevel" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div class="col-sm-12 col-sm-offset-3" style="text-align: center; margin: 0 auto">
                        <!--<button class="btn btn-primary">保存</button>&nbsp;-->
                        <button class="btn btn-default mr30" onclick="javascript:history.go(-1);">
                            返回
                        </button>
                        <button class="btn btn-primary" id="myGeographicSuggestions" type="button">继续</button>
                    </div>
                </div>
            </div><!-- panel -->
            <!--            <div class="panel panel-default">-->
            <!--                <div class="panel-heading">-->
            <!--                    <h5 class="panel-title">历史风沙数据</h5>-->
            <!--                </div>-->
            <!--                <div class="panel-body">-->
            <!--                    <div class="row col-md-12">-->
            <!--                        <h5 class="subtitle mb5">风沙数据表</h5>-->
            <!--                        <p class="mb15"></p>-->
            <!--                        <div id="corrosion" style="width: 100%; height: 500px; margin-bottom: 20px"></div>-->
            <!--                    </div>&lt;!&ndash; row &ndash;&gt;-->
            <!--                </div>&lt;!&ndash; panel-body &ndash;&gt;-->
            <!--            </div>&lt;!&ndash; panel &ndash;&gt;-->


        </div><!-- mainpanel -->

    </div>

</section>


<script>
    $('.left').load("left");
    // 跳转按钮
    $("#myGeographicSuggestions").click(function () {
        let checkTrueCaseItem;
        $.each($('input:checkbox:checked'),function(){
            window.alert("你选了："+
                $('input[type=checkbox]:checked').length+"个，其中有："+$(this).val());
        });
        // window.location.href = "/edit_special";
    });

    // 加载数据图表
    let DataList = [];
    $.ajax({
        type: 'GET',
        url: '/GetEnvironment?scheme_id=' + localStorage.getItem("scheme_id"),
        dataType: "JSON",
        contentType: "application/json;charset=UTF-8",
        data: {index: 0},
        async: false,
        success: function (data) {
            let dataList = data.data_list;
            for (let j = 0; j < dataList.length; j++) {
                DataList.push(dataList[j].month_time);
            }
            showPressure();
            showHumidity();
            showRainfall();
            showSunshine();
            showTemperature();
            showWindLevel();
        }
    });

    function showPressure(){
        let $div = $("#airPressureDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "airPressure");
        bodyDiv.load("geographic_AirPressure");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区空气稀薄，大气压力低，空气电抗强度降低。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    }

    function showHumidity() {
        let $div = $("#humidityDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "humidity");
        bodyDiv.load("geographic_humidity");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区气候干燥，湿度低，导致植被较少，多为砂石土质地面，且云层低，为雷电多发地带。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    }

    function showRainfall() {
        let $div = $("#rainfallDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "rainfall");
        bodyDiv.load("geographic_rainfall");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区全年多晴朗天气，降雨稀少，降水集中在6—9月份，多夜雨，为雨季。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    };

    function showSunshine() {
        let $div = $("#sunshineDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "sunshine");
        bodyDiv.load("geographic_sunshine");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区太阳辐射强。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    }

    function showTemperature() {
        let $div = $("#temperatureDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "temperature");
        bodyDiv.load("geographic_temperature");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区气温偏低，年温差小昼夜温差大。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    }

    function showWindLevel() {
        let $div = $("#windLevelDiv");
        let bodyDiv = $("<div style=\"width: 100%; height: 500px; margin-bottom: 20px\"></div>");
        bodyDiv.attr("id", "windLevel");
        bodyDiv.load("geographic_windLevel");
        let $h5 = $("<h5 class='subtitle mb5'>西藏地区年大风期长。</h5>");
        let $p = $("<p class='mb30'></p>");
        $div.append($h5);
        $div.append($p);
        $div.append(bodyDiv);
    }
</script>

<!-- 百度地图APP　-->
<script type="text/javascript">
    // 百度地图API功能
    // var map = new BMap.Map("map_demo");  // 不限制滚轮缩放尺度
    let map = new BMap.Map("map_demo", {minZoom: 4, maxZoom: 13});
    let localIcon = new BMap.Icon("baidumapv2/images/marker_red_hd.png", new BMap.Size(23, 25));
    var lng = localStorage.getItem("lng");
    var lat = localStorage.getItem("lat");
    var point = new BMap.Point(lng, lat);

    map.centerAndZoom(point, 7);
    var marker = new BMap.Marker(point, {icon: localIcon});
    map.addOverlay(marker);

    map.addControl(new BMap.NavigationControl());               // 添加平移缩放控件
    map.addControl(new BMap.ScaleControl());                    // 添加比例尺控件
    map.addControl(new BMap.OverviewMapControl());              //添加缩略地图控件
    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
    map.addControl(new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP, BMAP_SATELLITE_MAP, BMAP_HYBRID_MAP]}));          //添加地图类型控件
    map.addControl(new BMap.OverviewMapControl());          //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT}));      //右下角，打开
    map.setMapStyle({style: 'normal'});

    var polyline = new BMap.Polyline([
        new BMap.Point(92.06, 31.28),
        new BMap.Point(91.351, 29.625),
        new BMap.Point(94.277, 29.546)
    ], {strokeColor: "red", strokeWeight: 2, strokeOpacity: 0.5});
    var line = new BMap.Polyline([
        new BMap.Point(90.91, 29.2725),
        new BMap.Point(91.351, 29.715)
    ], {strokeColor: "blue", strokeWeight: 2, strokeOpacity: 0.5});

    function addPolyLine() {
        map.addOverlay(polyline);
        polyline.enableEditing();
    }

    function addLine() {
        map.addOverlay(line);
        line.enableEditing();
    }

    //增加折线
    //增加多边形
    function removeLine() {
        map.removeOverlay(polyline);
        map.removeOverlay(line);
    }

    function calDegree() {
        var pointList = polyline.getPath();
        var p1 = new BMap.Point(pointList[0].lng - pointList[1].lng, pointList[0].lat - pointList[1].lat);
        var p2 = new BMap.Point(pointList[2].lng - pointList[1].lng, pointList[2].lat - pointList[1].lat);
        var res = Math.acos((p1.lng * p2.lng + p1.lat * p2.lat) / (Math.sqrt(p1.lng * p1.lng + p1.lat * p1.lat) * Math.sqrt(p2.lng * p2.lng + p2.lat * p2.lat)));
        layer.msg(res * 180 / 3.142 + "°");
    }

    function calDistance() {
        var pointList = line.getPath();
        layer.msg(map.getDistance(pointList[0], pointList[1]) + "m");
    }
</script>

</body>
</html>
