<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>装备保障系统</title>

    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery-jvectormap-1.2.2.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="baidumapv2/baidumap_offline_v2_load.js"></script>
    <!--<script type="text/javascript" src="baidumapv2_demo/jquery.js"></script>-->
    <script type="text/javascript" src="baidumapv2_demo/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="baidumapv2/css/baidu_map_v2.css"/>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>

    <script src="js/jquery.datatables.min.js"></script>
    <script src="js/raphael-2.1.0.min.js"></script>
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/select2.min.js"></script>

    <script src="js/custom.js"></script>
    <script src="js/dashboard.js"></script>

    <!--&lt;!&ndash; 折线图 &ndash;&gt;-->
    <script src="js/flot/jquery.flot.min.js"></script>
    <script src="js/flot/jquery.flot.resize.min.js"></script>
    <script src="js/flot/jquery.flot.spline.min.js"></script>
    <!--<script src="js/morris.min.js"></script>-->
    <script src="js/raphael-2.1.0.min.js"></script>

    <style type="text/css">
        body, html, #map_demo, #tab, #mapfrm {
            width: 100%;
            height: 100%;
            margin: 0;
            font-family: "微软雅黑";
        }

        td {
            font-size: 14px
        }

        h4 {
            margin: 0;
        }

        #map_demo1, #map_demo2 {
            height: 50%
        }
    </style>
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<script src="js/echarts.js"></script>
<section>

    <div class="left"></div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="head"></div><!-- headerbar -->
        <div class="pageheader">
            <h2><i class="fa  fa-edit"></i> 保障方案编辑</h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="#">装备保障系统</a></li>
                    <li class="active">编辑保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">环境地点特情分析</h4>
                    <p>显示实地水文气象信息</p>
                </div><!-- panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default col-md-12" style="height:800px">
                            <!--<button onclick="addPolyLine();" class="btn btn-primary mr10">生成折线</button>-->
                            <!--<button onclick="addLine()" class="btn btn-primary mr10">生成直线</button>-->
                            <!--<button onclick="calDegree()" class="btn btn-primary mr10">角度值</button>-->
                            <!--<button onclick="calDistance()" class="btn btn-primary mr10">距离值</button>-->
                            <!--<button onclick="removeLine()" class="btn btn-default mr10">清除</button>-->
                            <div class="mb20"></div>
                            <div class="mb10" id="map_demo">MapDiv</div>
                        </div><!-- col-md-12 -->
                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer"></div>
            </div><!-- panel -->
            <!-- 外部引用，有问题，getLocation是新建立的Location -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">历史温度数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row col-md-12">
                            <h5 class="subtitle mb5">温度图表</h5>
                            <p class="mb15"></p>
                            <div id="pressureTable" style="width: 100%; height: 500px; margin-bottom: 20px"></div>
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">历史气压数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8" id="try">
                            <h5 class="subtitle mb5">气压图表</h5>
                            <p class="mb15"></p>
                            <div id="basicflot" style="width: 100%; height: 500px; margin-bottom: 20px"></div>
                        </div><!-- col-sm-8 -->
                        <div class="col-sm-4">
                            <h5 class="subtitle mb5">防低压</h5>
                            <p class="mb15"></p>
                            <ul>

                                <li>
                                    低气压条件下，要重点关注雷达的高电压，大功率器件，发射系统、显示器的高压电源等部位，一是在使用中要针对可能出现的打火，增加静电循环检查，器件外观检查，疑点部位测量检查、高压线路走向间隔检查。
                                </li>
                                <li>
                                    对接触部分涂抹绝缘胶，防止打火放电；高压导线应尽量拉直平滑，远离低压线，
                                </li>
                                <li>
                                    控制好雷达发射机升高压节奏，适当增加电子管预热时间，必要时调低发射机高压，将发射机高压置规定值下限，尽量限制引发发射机打火的诱因，
                                </li>
                                <li>
                                    天馈线系统波导气压严格按照规定值充气，防止天馈线系统打火，发现打火应立即关机。
                                </li>
                                <li>
                                    对接接触器、继电器等有触点的电器，要定期用酒精擦拭。
                                </li>
                                <li>
                                    装备进高原后，空气中含氧量降低，动力系统效率低，供电系统输出功率降低和兵器载车承载能力降低，为了保证兵器装备的正常工作，应结合高原环境特点，加强装备动力系统调整维护工作，一是及时给水箱加满水并拧紧水箱盖，调整通风设施，降低发动机的工作环境温度，防止柴油机水箱开锅；可根据要求更换水箱内的冷却水，提高柴油机水箱冷却水的沸点。二是根据驻地海拔高度和空气密度，对发动机的柴油机供油提前角进行调整，使进入汽缸中的可燃混合气的密度适当，解决燃油燃烧不充分、发动机冒黑烟的问题，三是对电源车的手油泵及燃油管路用密封胶进行密封，防止燃油系统进空气，影响柴油机工作状态。
                                </li>
                            </ul>


                        </div><!-- col-sm-4 -->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">历史沙尘数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="mb15">沙尘颗粒表</p>
                            <div id="sandyDataTable" style="width: 100%; height: 500px; margin-bottom: 20px"></div>
                        </div><!-- col-sm-8 -->

                        <div class="col-sm-4">
                            <h5 class="subtitle mb5">防沙尘</h5>
                            <p class="mb15"></p>

                            <ul>
                                <li>
                                    及时关紧车厢门窗，非工作状态下，装备外露的空调、冷却装置、通风口等要进行遮盖，防止沙尘侵入，动力系统的进气口要尽量避开风的来袭方向。
                                </li>
                                <li>
                                    根据风力大小，适时加固兵器装备，加盖篷布，必要时，撤收易受损伤的旋转关节、雷达的升降导轨等要涂油，用帆布或油纸包裹，工作时及时除掉油脂，经常清洗空气清器，防止空气中的沙尘颗粒堵塞空气滤清器的进气孔。
                                </li>
                                <li>
                                    视情组织装备的清洁保养，重点进行兵器内部除尘，电缆头维护，旋转机构润滑及滤尘网，空气滤清器清洗工作，风沙过后要对武器装备进行全面，彻底的维护擦拭，将沙土清除干净。
                                </li>
                            </ul>
                        </div><!-- col-sm-4 -->
                    </div><!-- row -->
                </div><!-- panel-body -->
            </div><!-- panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">历史雨雪数据</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="mb15">雨雪量表</p>
                            <div id="rainyDataTable" style="width: 100%; height: 500px; margin-bottom: 20px"></div>
                        </div><!-- col-sm-8 -->

                        <div class="col-sm-4">
                            <h5 class="subtitle mb5">防潮湿、防雷暴</h5>
                            <p class="mb15"></p>
                            <ul>
                                <li>
                                    架设便携式避雷针。在雷达阵地，发射阵地，技术保障阵地和库房要按技术要求设置避雪装置，并定期检查，确保接地良好
                                </li>
                                <li>
                                    增加备件，针对潮湿环境下电气设备易打火，击穿的情况应尽可能多准备备件，尤其是高压部位备件一定要齐全，保证出现异常情况能及时处置
                                </li>
                                <li>
                                    通风去除湿气。应将装备放置于通风位置，保持空气流通，晴朗或湿度较小的天气，应打开车厢门窗，进行自然通风去潮。
                                </li>
                            </ul>
                        </div><!-- col-sm-4 -->
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div class="col-sm-12 col-sm-offset-3" style="text-align: center; margin: 0 auto">
                        <!--<button class="btn btn-primary">保存</button>&nbsp;-->
                        <button class="btn btn-default mr30" onclick="javascript:history.go(-1);">
                            返回
                        </button>
                        <button type="button" id="myGeographicSuggestions" class="btn btn-primary">继续</button>
                    </div>
                </div>
            </div><!-- panel -->

        </div><!-- mainpanel -->

    </div>

</section>




<script>
    // 跳转按钮
    $("#myGeographicSuggestions").click(function () {

        var scheme = {
            scheme_id:localStorage.getItem("scheme_id")
        };

        var schemeStr = JSON.stringify(scheme);
        console.log(schemeStr);
        $.ajax({
            type: 'POST',
            data: schemeStr,
            contentType: "application/json;charset=UTF-8",
            url: "/AddSchemeGroup",
            dataType: "json",
            async: false,     // 取消异步加载
            success: function (data) {
                console.log(data.group_id);
                localStorage.setItem("group_id", data.group_id);
                // alert("Add Group Success");
                window.location.href = "";
            },
            error: function () {
                console.log(arguments);
                console.error("error");

            }
        })
    });

    // 加载压力图
    $("#pressureTable").load("geographic_temperature");

</script>

<!-- 折线图 -->
<!--<script type="text/javascript">-->
    <!--// 基于准备好的dom，初始化echarts实例-->
    <!--var myChart = echarts.init(document.getElementById('sandyDataTable'));-->

    <!--// 指定图表的配置项和数据-->
    <!--var option = {-->
        <!--backgroundColor: '#FBFBFB',-->
        <!--tooltip: {-->
            <!--trigger: 'axis'-->
        <!--},-->
        <!--legend: {-->
            <!--data: ['沙尘数据']-->
        <!--},-->

        <!--calculable: true,-->


        <!--xAxis: [-->
            <!--{-->
                <!--axisLabel: {-->
                    <!--rotate: 30,-->
                    <!--interval: 0-->
                <!--},-->
                <!--axisLine: {-->
                    <!--lineStyle: {-->
<!--//                        color: '#000080'-->
                    <!--}-->
                <!--},-->
                <!--type: 'category',-->
                <!--boundaryGap: false,-->
                <!--data: function () {-->
                    <!--var list = [];-->
                    <!--for (var i = 0; i <= 7; i++) {-->
                        <!--list.push('2017-' + (i - 0));-->
                    <!--}-->
                    <!--return list;-->
                <!--}()-->
            <!--}-->
        <!--],-->
        <!--yAxis: [-->
            <!--{-->

                <!--type: 'value',-->
                <!--axisLine: {-->
                    <!--lineStyle: {-->
<!--//                        color: '#000080'-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--],-->
        <!--series: [-->
            <!--{-->
                <!--name: '作战期间沙尘颗粒数据',-->
                <!--type: 'line',-->
                <!--symbol: 'none',-->
                <!--smooth: true,-->
                <!--color: ['#808000'],-->
                <!--data: [80, 140, 100, 35, 40, 50, 30, 45],-->
                <!--itemStyle: {-->
                    <!--normal: {-->
                        <!--label: {-->
                            <!--show: true,-->
                            <!--position: 'top',-->
                            <!--textStyle: {-->
                                <!--color: 'black',-->
                                <!--fontSize: 16-->
                            <!--}-->
                        <!--}-->
                    <!--}-->
                <!--}-->
            <!--}-->
        <!--]-->
    <!--};-->

    <!--// 使用刚指定的配置项和数据显示图表。-->
    <!--myChart.setOption(option);-->
<!--</script>-->

<!-- 柱状图 -->
<!--<script type="text/javascript">-->
    <!--// 基于准备好的dom，初始化echarts实例-->
    <!--var myChart = echarts.init(document.getElementById('rainyDataTable'));-->

    <!--// 指定图表的配置项和数据-->
    <!--var option = {-->
        <!--// title: {-->
        <!--//     text: '历史雨雪数据'-->
        <!--// },-->
        <!--tooltip: {},-->
        <!--legend: {-->
            <!--data: ['每日平均', '小时最高', '月总降水量']-->
        <!--},-->
        <!--xAxis: {-->
            <!--data: ["2017年1月", "2月", "3月", "4月", "5月", "6月"],-->
            <!--type: 'category'-->
        <!--},-->
        <!--yAxis: {},-->
        <!--series: [{-->
            <!--name: '每日平均',-->
            <!--smooth: true,-->
            <!--type: 'bar',-->
            <!--data: [0.2, 0.5, 0.4, 0.5, 1, 0]-->
        <!--}, {-->
            <!--name: '小时最高',-->
            <!--smooth: true,-->
            <!--type: 'bar',-->
            <!--data: [0, 0, 0, 1, 2, 0]-->
        <!--}, {-->
            <!--name: '月总降水量',-->
            <!--smooth: true,-->
            <!--type: 'bar',-->
            <!--data: [0, 0, 3, 5, 20, 13]-->
        <!--}]-->
    <!--};-->

    <!--// 使用刚指定的配置项和数据显示图表。-->
    <!--myChart.setOption(option);-->
<!--</script>-->


<!-- 百度地图APP　-->
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("map_demo", {minZoom: 5, maxZoom: 8});
    var lng = localStorage.getItem("lng");
    var lat = localStorage.getItem("lat");
    var point = new BMap.Point(lng, lat);

    map.centerAndZoom(point, 7);
    map.enableScrollWheelZoom();
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);


    var polyline = new BMap.Polyline([
        new BMap.Point(92.06, 31.28),
        new BMap.Point(91.351, 29.625),
        new BMap.Point(94.277, 29.546)
    ], {strokeColor: "red", strokeWeight: 2, strokeOpacity: 0.5});
    var line = new BMap.Polyline([
        new BMap.Point(90.91, 29.2725),
        new BMap.Point(91.351, 29.715)
    ], {strokeColor: "blue", strokeWeight: 2, strokeOpacity: 0.5});

    function addPolyLine() {
        map.addOverlay(polyline);
        polyline.enableEditing();
    }

    function addLine() {
        map.addOverlay(line);
        line.enableEditing();
    }

    //增加折线
    //增加多边形
    function removeLine() {
        map.removeOverlay(polyline);
        map.removeOverlay(line);
    }

    function calDegree() {
        var pointList = polyline.getPath();
        var p1 = new BMap.Point(pointList[0].lng - pointList[1].lng, pointList[0].lat - pointList[1].lat);
        var p2 = new BMap.Point(pointList[2].lng - pointList[1].lng, pointList[2].lat - pointList[1].lat);
        var res = Math.acos((p1.lng * p2.lng + p1.lat * p2.lat) / (Math.sqrt(p1.lng * p1.lng + p1.lat * p1.lat) * Math.sqrt(p2.lng * p2.lng + p2.lat * p2.lat)));
        layer.msg(res * 180 / 3.142 + "°");
    }

    function calDistance() {
        var pointList = line.getPath();
        layer.msg(map.getDistance(pointList[0], pointList[1]) + "m");
    }
</script>

</body>
</html>
