<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <title>方案-装备保障方案</title>

    <link href="css/style.default.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        td {
            vertical-align: middle;
            text-align: center;
            padding: 10px 8px;
        }
    </style>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>


<section>
    <div class="left"></div>

    <div class="mainpanel">
        <div class="head"></div><!-- headerbar -->
        <div class="pageheader">
            <h2><i class="fa fa-file-text"></i> 方案展示 <span>方案细节</span></h2>
            <div class="breadcrumb-wrapper">
                <span class="label">当前位置:</span>
                <ol class="breadcrumb">
                    <li><a href="index.html">装备保障系统</a></li>
                    <li class="active">保障方案</li>
                </ol>
            </div>
        </div>

        <div class="contentpanel">

            <div class="row">
                <div class="col-sm-10">

                    <div class="panel panel-default panel-blog">
                        <div class="panel-body" th:each="item:${schemeList}">
                            <!--<h3 class="blogsingle-title" th:text="${item.getScheme_name()}">装备保障方案</h3>-->

                            <ul class="blog-meta">
                                <li>方案编辑人: <a href=""></a></li>
                                <li>完成日期: <a href="">2019-01-12</a></li>
                                <li>评估结果: <a href=""></a></li>
                            </ul>
                            <!--<div class="blog-img"><img src="" class="img-responsive" alt="" /></div>-->
                            <div class="mb20"></div>
                            <div class="scheme-content" th:value="${item.getScheme_id()}"></div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-sm-offset-3" style="text-align: center; margin: 0 auto">
                                        <button class="btn btn-primary"
                                                onclick="finishScheme()">完成
                                        </button>&nbsp;
                                        <button class="btn btn-default"
                                                onclick="javascript:history.go(-1);">返回
                                        </button>
                                    </div>
                                </div>
                            </div><!-- panel-footer -->
                        </div><!-- panel-body -->
                    </div><!-- panel -->
                </div><!-- col-sm-8 -->

                <div class="col-sm-2">
                    <div class="blog-sidebar" id="menu" style="position: fixed">

                        <!--                        <h5 class="subtitle"></h5>-->
                        <!--                        <p></p>-->
                        <!--                        <div class="mb30"></div>-->

                        <h5 class="subtitle">目录</h5>
                        <ul class="sidebar-list">
                            <li><a href="#4.1"><i class="fa fa-angle-right"></i> 装备保障方案 </a></li>
                            <li><a href="#4.2"><i class="fa fa-angle-right"></i> 器材保障预案</a></li>
                            <li><a href="#4.3"><i class="fa fa-angle-right"></i> 特情处置预案 </a></li>
                            <li><a href="#4.4"><i class="fa fa-angle-right"></i> 野战修理所预案 </a></li>
                        </ul>

                    </div><!-- blog-sidebar -->

                </div><!-- col-sm-2 -->

            </div><!-- row -->

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>


<script src="js/jquery-1.11.1.min.js"></script>

<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>


<script src="js/custom.js"></script>
<script>
    // 加载共同头部
    $('.left').load("left");
    // $('.head').load("head")
    $('.scheme-content').load("text?scheme_id=" + localStorage.getItem("scheme_id"));

    function finishScheme() {
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/resetProtectionGroupPeoples?scheme_id=" + localStorage.getItem("scheme_id"),
            success: function () {
                localStorage.clear();
                window.location.href = '/edit_action';
            },
            error: function () {
                console.error("failed");
            }
        });
    }

    // jQuery(window).load(function () {
    //     "use strict";
    // var container = document.querySelector('#bloglist');
    // Masonry 是自动排序
    // var msnry = new Masonry(container, {
    //     // options
    //     columnWidth: '.col-xs-6',
    //     itemSelector: '.col-xs-6'
    // });
    // });

</script>

<!--<script th:inline="javascript">-->
<!--$(function () {-->
<!--var schemeId = $('.scheme-content').val();-->
<!--$('.scheme-content').load("scheme_schemeId="+ schemeId + ".html")-->
<!--})-->
<!--</script>-->

</body>
</html>
