<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<p>为应对战时发生的各种特殊情况，提高人员、装备防卫防护能力，最大限度减少损失，确保应急作战装备保障任务圆满完成,特制订预案。</p>
<p>
    指导思想：坚持“靠前、机动、及时、有效”的原则，携带维修设备，以最简捷的方法，最快的速度，最有效的措施，对兵器装备进行应急处置，最大限度保持或恢复兵器的作战性能。成立以特情处置领导小组，主要根据作战任务和作战地域的特点，预测可能发生的特情，制定特情应对措施并组织部队实施。</p>
<p>
    处置原则：根据装备故障程度，适时调配修理力量，分清主次缓急，确定故障排除顺序，重点保障主要作战部队和主要方向。临战故障的修复以换件修理为主。及时查明故障原因部位，积极组织技术力量进行抢修，做到边抢修边上报，力争在敌来袭前恢复兵器性能，如不能按时修复，应及时上报协调友邻防空力量组织协防。</p>
<table>
    <tr>
        <th>特情信息</th>
        <th>处置方法</th>
    </tr>
    <tr>
        <td>雷达指控车指控与发射发控建链不成功。</td>
        <td>
            <ul>
                <li>A.RCC复位。</li>
                <li>B.更换有线电缆。</li>
                <li>C.有线/无线转换。</li>
                <li>D.垂直发射车、指控舱断电重启。</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>发射车程控状态下，液压系统建压，但是不执行动作，或动作执行后，但液压系统压力不降。</td>
        <td>
            <ul>
                <li>A.采用手动方式进行相应操作。</li>
                <li>B.更换控制机柜相应电路板。</li>
                <li>C.使用内六角扳手按压相应比例调压阀的阀芯。</li>
                <li>D.转移到另外一辆发射车进行操作。</li>
                <li>E.对于有动作，但液压系统压力不降的情况，可按压相应到位行程开关。</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>按下发射按钮，发射筒副燃未点火。</td>
        <td>
            <ul>
                <li>A.发控系统立即断电。</li>
                <li>B.1小时后，应急小组成员进入现场。</li>
                <li>C.发射车操作手将筒弹提升、回平。</li>
                <li>D.将发射筒上与发控连接的电缆插头拆下，并装上连接器保护盖。</li>
                <li>E.将筒弹吊装到筒弹运输车上，返厂检查。</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>100KW电源车供电故障</td>
        <td>
            <ul>
                <li>A.油机故障时，更换油机；</li>
                <li>B.进入程序前将备用动力电缆摆放好，动力电缆损坏时，更换备用动力电缆。</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>弹上电池故障</td>
        <td>
            <ul>
                <li>A.雷达关高压；导弹断电，回传发控参数，系统复位；</li>
                <li>B.等待1小时；应急处理人员进入现场；</li>
                <li>C.发控组合断电；测量弹上电池是否放电完毕及点火电路状态；</li>
                <li>D.拔掉贮运发射筒上与发控执行组合连接的电缆插头，并装上筒弹前保护盖；</li>
                <li>E.筒弹吊下发射车，装在筒弹运输车上；</li>
                <li>F.筒弹运往技术阵地。</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>发动机故障</td>
        <td>
            <ul>
                <li>A.雷达按口令进行断电操作；</li>
                <li>B.导弹落地后，等待1小时后，应急人员进入现场；</li>
                <li>C.检查地面设备受损情况，并记录、录相和照相；D.观察导弹落地姿态及导弹外观，并记录、录相和照相；</li>
                <li>E.测量导弹电池是否放电完毕，点火电路状态；</li>
                <li>F.导弹运回技术阵地分析或在适合的现场分解处理。</li>
            </ul>
        </td>
    </tr>
</table>
<div>
    <h3>环境特情信息</h3>
    <th:block th:each="case:${specialCaseList}">
        <p th:text="${case.getDescription()}"></p>
    </th:block>
</div>
</html>
