<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>Title</title>

    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>

</head>
<body>
<div id="pageContent">

    <h1 style="text-align: center">装备保障方案</h1>
    <h3>作战任务</h3>
    <div>作战单位<code id="platoon_name"></code>
        <span th:if="${#lists.size(action_group_list)} == 1">
        做为一个整体，率领
        <th:block th:each="item:${army_list}">
            <code th:text="${item.getArmy_name()}"></code>共
            <span th:text="${item.getArmy_people()}"></span>人
        </th:block>
        <th:block th:each="ActionGroup:${action_group_list}">
            到达<span th:text="${ActionGroup.getLocation()}"></span>
            的地点
        </th:block>
        进行作战任务。
        </span>
        <span th:unless="${#lists.size(action_group_list)} == 1">
            将到达经度：<span id="lng"></span>，纬度：<span id="lat"></span>的地点进行作战，并且分为
            <span th:text="${#lists.size(action_group_list)}"></span>
            个梯队进行，其中
            <th:block th:each="ActionGroup:${action_group_list}">
                <code th:text="${ActionGroup.getAction_group_name()}"></code>
                到达
                <span th:text="${ActionGroup.getLocation()}"></span>
                的地点进行作战任务；
            </th:block>
        </span>
        携带
        <th:block th:each="item:${equipment_list}">
            <!--<span th:text="${item.equipment_id()}"></span>-->
            <span th:text="${item.getEquipment_name()}"></span>、
        </th:block>
        等装备向作战地区机动，于规定时间到达预定阵地展开部署，担负作战任务。
    </div>

    <h3>保障任务</h3>
    <div>
        此次作战任务的保障模式为
        <span th:text="${oneScheme_safeguard.getSafeguardMode_name()}"></span>
        <span th:if="${oneScheme_safeguard.getSafeguardMode_flag()==2}">
            需要同级单位的保障力量支持，其中同级保障单位分别为
            <th:block th:each="safeguard:${scheme_safeguard}">
                <span th:text="${safeguard.getPlatoon_name()}"></span>
            </th:block>，
        </span>
        <span th:if="${oneScheme_safeguard.getSafeguardMode_flag()==3}">
            需要上级单位的保障力量支持，其中
            <span th:text="${oneScheme_safeguard.getBase_name()}"></span>。
        </span>
        <span th:if="${oneScheme_safeguard.getSafeguardMode_flag()==4}">
            需要同级和上级单位的保障力量支持，其中同级保障单位分别为
            <th:block th:each="safeguard:${scheme_safeguard}">
                <span th:text="${safeguard.getPlatoon_name()}"></span>
            </th:block>
            ，上级保障单位为
            <span th:text="${oneScheme_safeguard.getBase_name()}"></span>。
        </span>
    </div>
    <h3>4.1 装备保障方案</h3>
    <h4> 4.1.1 任务</h4>
    <h5>(一）装备保障任务</h5>
    <ol>
        <li>确保部队各类装备齐装配套，并处于完好状态；</li>
        <li>负责进驻前各营装备、器材、弹药的调整补充和装备抢修；进驻后各营装备的应急抢修，组织协调各类装备、器材和弹药的应急保障任务，并派员参加战区装备保障部门装备保障；</li>
        <li>组织实施装备的防护、防卫；</li>
        <li>根据作战任务需要，组织完成雷达遭受干扰情况防分析研究及应对措施。</li>
    </ol>

    <br>
    <h4>4.1.2 装备保障机构编组 </h4>
    <h5>（一）装备指挥组 </h5>
    <ul>
        <li>旅装备保障指挥分为基本装备指挥组和预备装备指挥组，基本装备指挥组及下设的装备保障小组，部署于机场,负责组织实施
            <th:block th:each="item:${army_list}">
                <code th:text="${item.getArmy_name()}"></code>
            </th:block>
            的作战装备保障；
        </li>
        <li>预备装备指挥组及下设的装备保障小组，部署于机场,负责组织实施
            <th:block th:each="item:${army_list}">
                <code th:text="${item.getArmy_name()}"></code>
            </th:block>
            营作战装备保障。
        </li>
        <li>各营装备保障小组配置于各营作战阵地（见附件1、2）。</li>
    </ul>
    <h5>（二）装备抢修组 </h5>
    <p>组建<span th:text="${repairTeamCount}"></span>支装备抢修组（见附件3）。</p>
    <ol>
        <li>第一装备抢修组
            。各类保障人员30人（装备技术科5人、技术保障队20人、汽车修理分队5人），携行保障装备7台、仪器设备30台（件）、车辆维修设备1套、通装车辆战储器材1个基数，担负旅xx技术保障、战损评估及装备、车辆应急抢修任务，申请空军支援抢修分队实施装备支援抢修，与上级业务部门协调处理装备问题。
        </li>
        <li>
            第二装备抢修组。各类保障人员21人（装备技术科3人、技术保障队15人、汽车修理分队5人），携行保障装备5台、仪器设备22台（件）、车辆维修设备1套、通装车辆战储器材1个基数，担负xx营技术保障、战损评估及装备、车辆应急抢修任务。与上级业务部门协调处理装备问题，参与上级业务部门工作。
        </li>
    </ol>
    <h5>（三）器材保障组 </h5>
    <p>组建<span th:text="${protectTeamCount}"></span>支器材保障组（见附件4）。</p>
    <ol>
        <li>1.第一器材保障组。器材保障人员7人（装备器材科2人、技术保障队1人、营技勤参谋4人），旅携行周转器材1套，负责xx器材弹药调整补充及请领下送。</li>
        <li>2.第二器材保障组。器材保障人员5人（装备器材科1人、技术保障队1人、营技勤参谋3人），旅携行器材储运车1辆，负责xx营器材弹药调整补充及请领下送。</li>
    </ol>
    <h4>4.1.3 保障人员、装备及物资 </h4>
    <h5>（一）保障人员 </h5>
    <p>旅直属保障人员（装备业务部门<code id="equipmentBusiness"></code>人、技术保障队<code id="technicalPeople"></code> 人、汽车修理分队<code
            id="autoRepairCrew"></code> 人），具备中继级装备抢修能力，可完成器材、弹药的调配补充。</p>
    <h5>（二）保障装（设）备和器材</h5>
    <p>1.各营分别编配维修保障装备4台，维修设备10台（件），可实施车辆小修、焊接及机加作业。</p>
    <p>2.旅装备抢修组编配维修保障装备12台，维修设备52台（件）、车辆维修设备2套，可实施战损装备、车辆抢修作业。（见附件5）</p>
    <p>3.旅器材保障组携行周转器材1套，各营携行随机器材，可满足作战装备保障需求。</p>
    <h5>（三）弹药</h5>
    <p>全旅携行枪支xx支，子弹xx发(见附件6)，各营按1个基数携行筒弹，共计xx枚。</p>
    <h4>4.1.4 兵器抢修的组织实施</h4>
    <p style="color: red;">按照“立足现有，统筹全局，突出重点，精确保障”的原则，以建制保障为主、支援保障为辅，针对作战进程变化，准确预测保障需求，合理调配保障力量，确保持续、高效地实施作战装备保障。</p>
    <h5>（一）筹划展开阶段</h5>
    <p>1.收集掌握人员、装备、弹药、器材状况，提出人员、装备、弹药及器材调配建议，研究、部署装备保障工作，向上级机关提出需要解决的问题；</p>
    <p>2.及时上报装备保障准备情况，请领弹药及战储器材；</p>
    <p>3.选择野战仓库、修理所开设场地，做好装备抢修准备工作；</p>
    <p>4.进驻指定地域后，及时恢复装备战术技术性能，保持兵器状态完好；</p>
    <p>5.与仓库建立供应保障关系。</p>
    <p>（二）作战实施阶段</p>
    <p>1.装备保障按照先主要作战方向、后次要作战方向，先主战装备、后保障装备的原则组织实施；</p>
    <p>2.装备抢修以换件修理和阵地抢修为主，后送修理和调配补充为辅。坚持靠前修理、现场修复,情况紧急时，拆套合并使用，保证主要作战方向武器装备齐装配套；</p>
    <p>3.弹药、器材补充以按级补给为主，直达保障为辅，优先保证主要作战方向；</p>
    <p>4.根据装备战损情况，及时调整补充装备；</p>
    <p>5.根据敌干扰设备、电子战能力和部队上报的干扰现象、干扰种类、干扰方位、干扰装备，迅速提出反干扰措施建议；</p>
    <p>6.实时掌握装备技术状态，利用战斗间隙及时组织检修维护及损伤装备的后送。</p>
    <p>（三）战斗结束阶段</p>
    <p>1.组织清查装备战损情况，统计保障人员伤亡及弹药、器材、设备损耗数量，并及时上报；</p>
    <p>2.迅速组织力量完成装备抢修及人员、物资器材调整补充，做好再战准备；</p>
    <p>3.组织部队做好归建的各项装备准备和其他装备物资的移交工作，对战损装备，做好清理、登记，妥善保管，按上级指示处置；</p>
    <p>4.认真总结经验，整理资料，制订伪装防护和反干扰的改进措施。</p>
    <h4>4.1.5 战时筒弹补充的组织实施</h4>
    <h5>（一）组织领导</h5>
    <p>旅成立筒弹调整补充小组。装备器材科科长芦涛担任组长，装备器材科助理李荣、杨永锋，技术保障队队长汪燕斌、副队长段锋军以及各营技勤参谋为组员。负责掌握并上报本营筒弹消耗情况，完成筒弹调整补充。</p>
    <h5>（二）临战时筒弹的请领</h5>
    <p>受领作战任务后，根据旅筒弹情况，按照1.5个基数的筒弹配备标准，向军区空军装备部请领满编配齐筒弹数量。</p>
    <h5>（三）战时筒弹的紧急补充</h5>
    <p>当战斗消耗筒弹或筒弹发生战损、等级事故、严重故障，失去战斗效能或筒弹营库存量不足0.5个基数时，向西北方向空中作战集群指挥部装备保障中心紧急请领补充。</p>
    <h5>（四）筒弹的保管与存放</h5>
    <p>1.战时筒弹一般为露天存放，选择存放地点符合作战要求，利于隐蔽、展开和转移。各营应组织有关人员认真学习《红九筒弹使用维护细则》的内容，加强使用维护，遵照有关规定执行。</p>
    <p>⒉战时状态。战时各营48枚筒弹（其中32枚置于发射阵地，16枚置于技术保障阵地），8枚装填对接好的筒弹位于填装车上，处于准备填装状态，其余筒弹处于准备启封状态。各导弹营32枚筒弹全部起竖，听令组织导弹加电。</p>
    <h5>（五）注意事项及安全措施</h5>
    <p>1.严格执行《红九筒弹使用维护细则》有关内容；</p>
    <p>2.两辆垂直发射车同时装卸时，距离应大于50米，行驶时车辆间距离大于100米，在下雨泥泞路上行驶和下坡时扩大到200米；</p>
    <p>3.运输时，要严格遵守红九筒弹运输要求，严禁违规运输；</p>
    <p>4.要强化安全意识，筒弹露天集中保管应做好防火、防雷电、防潮湿、防日晒、防酸碱等工作，配置灭火瓶、防火沙，水桶、铁锹，禁止吸烟、随身携带火种；</p>
    <p>5.存放场地设置岗哨警戒，严防袭扰破坏。</p>
    <h4>4.1.6 战时器材保障组织实施</h4>
    <h5>（一）组织领导</h5>
    <p>旅成立物资器材保障组。装备器材科科长xx担任组长，装备器材科助理xx，技术保障队队长xx以及各营技勤参谋为组员。负责掌握物资器材的请领、分发和管理。</p>
    <h5>（二）物资器材的筹措</h5>
    <p>1.机动前，旅器材保障组向军区空军装备部上报申请计划，请求协调装备保障工厂完成缺项物资器材的补充，确保随机器材、周转器材齐全配套；</p>
    <p>2.机动至指定地域后，建立保障关系，上报装备、物资器材保障情况；</p>
    <p>3.战斗进程中消耗物资器材的补充按隶属关系向西北方向空中作战集群指挥部装备保障中心上报请领；</p>
    <p>4.部分物资器材可由器材保障组采取就便采购、函购或向工业部门及友邻部队紧急求助。</p>
    <h5>（三）物资器材的请领</h5>
    <p>根据作战消耗，采取按级请领程序组织实施，特殊情况可越级请领。营申请器材由技勤参谋统一汇总，向旅器材保障组请领。旅周转器材补充，由器材保障组向西北方向空中作战集群指挥部装备保障中心请领。</p>
    <p>（四）物资器材的补充</p>
    <p>各营主战装备维修器材随消耗随补充，由旅器材保障组直达供应;非主战装备器材消耗0.5个基数时，由旅装备保障指挥组从周转器材中统一组织调整补充。</p>
    <p>旅周转器材消耗0.5个基数时，由器材保障组向西北方向空中作战集群指挥部装备保障中心上报需求并请领。</p>
    <p>一般按照筹供渠道进行，情况紧急时，以主要作战方向为主，拆套合并使用，保证主要作战方向齐装配套。</p>
    <h4>4.1.7 战时保障人员补充的组织实施</h4>
    <h5>（一）组成</h5>
    <p>成立装备保障人员调整与补充领导小组。保障部长xx担任组长，组员包括装备技术科科长xx、军交运输科科长xx、技术保障队队长xx及各营参谋长。</p>
    <h5>（二）职责分工</h5>
    <p>1.组长负责掌握各类专业保障人员业务水平和保障能力，掌握各保障岗位人员编制现有数量及分布。</p>
    <p>2.组员掌握本级装备保障岗位需求、现有情况，随时了解上报人员减员数量和战斗任务需要情况。</p>
    <p>3.领导小组负责战前对各级装备保障人员进行技术摸底，制订应急顶班作业措施和装备保障人员调整补充工作计划；战时根据人员减员情况，及时向领导小组提供调整补充意见，组织实施人员调整补充。</p>
    <h5>（三）补充方法</h5>
    <p>1.正常情况下人员编配</p>
    <p>按现有实力编制，及时协调干部、军务部门进行旅、营两级技术人员调整补充，保证装备保障人员按编配齐。</p>
    <p>2.战斗减员情况下人员的补充</p>
    <p>各组员先从本单位同一专业中进行调整补充，如其它专业人员能够兼职的，可以采取顶岗作业；本单位无法调整补充时，按隶属关系上报调整补充，以保证随时补位完成作战任务。</p>
    <p>3.战斗范围扩大情况下人员的补充</p>
    <p>一般向上级申请补充缺额技术人员，紧急情况下可按照应急顶班作业措施实施，无法顶班作业或影响作战保障任务时，由领导小组向上级申请进行人员补充。</p>
    <h4>4.1.8 装备保障原则与措施</h4>
    <h5>（一）原则</h5>
    <p>紧紧围绕防空作战意图，总体筹划装备保障，主要遵循以下原则：</p>
    <p>⒈坚持整体保障与重点保障相结合，以重点保障为主。针对旅防空作战保障行动的每一个环节，通盘考虑，统筹兼顾，整体做好各种情况下的作战任务保障，突出做好主战方向、主战单位、主战装备、关键环节的重点保障；</p>
    <p>⒉坚持定点保障与伴随保障相结合，以伴随保障为主。旅、营依托现阵地，建立定点保障点，以伴随保障为主，满足急需物资、器材的供应补充，确保对战损装备、战伤装备进行应急抢救、抢修；</p>
    <p>⒊坚持自主保障与支援保障相结合，以自主保障为主，支援保障为辅，对部队依靠自身能力无法解决的装备保障问题，申请支援保障力量协助完成防空作战装备保障任务。</p>
    <h5>（二）措施</h5>
    <p>⒈综合编组，统一调度。统一指挥、调度建制保障力量，简化保障指挥程序，减少中间环节，提高保障效率；</p>
    <p>⒉充分准备，快速反应。针对不同的作战任务、样式，制订多种保障预案，多方筹集力量，加强演练，提高时效；</p>
    <p>⒊突出重点，整体协调。有所侧重，整体协调使用保障力量，突出主战方向、主战单位和主战装备；</p>
    <p>⒋因势应变，多法并举。灵活采用装备保障方式方法，把定点保障与伴随保障，独立保障与支援保障，单向保障与全方位保障有机结合起来，提高综合持续保障能力；</p>
    <p>⒌严密防护，确保安全。采取“藏、骗、隐”等多种伪装防护手段，有效保存自己，顺利实施保障</p>
    <h4>4.1.9 指挥协同</h4>
    <p>
        旅基本装备保障指挥组、预备装备保障指挥组，分别隶属于旅基本指挥所、预备指挥所。同时，接受空军和田指挥所指挥。旅装备保障指挥组对中继级装备保障机构构成指挥关系，对基层级装备保障机构的指挥通过营本级作战系统构成指挥关系，与本级后勤保障系统以及友邻部队装备指挥系统构成协同关系。</p>
    <h4>4.1.10 通信联络</h4>
    <p>旅、营依托旅前指、旅、营指挥控制系统、电话站、传真站、集中收发信台、文件收发室等形式进行通信联络。营通信联络由营负责。</p>
    <p>战时组织实施装备保障时，装备保障指挥命令指示与保障信息的传递，通常以有线电话为主，无线电话为辅，有线电话中断时，采取无线电话（报）。</p>
    <p>当与上级装备保障机构通信中断时，旅按作战装备保障计划，独立自主实施指挥。营通信中断时，按照防空作战计划积极果断地实施指挥。</p>
    <p>附件:</p>
    <a style="display: block">1.基本装备保障机构编组和任务分工</a>
    <a style="display: block">2.预备装备保障机构编组和任务分工</a>
    <a style="display: block">3.装备抢修组编成与部署表</a>
    <a style="display: block">4.器材保障组编成与部署表</a>
    <a style="display: block">5.旅、营携行军械车辆维修装（设）备表</a>
    <a style="display: block">6.枪支弹药携行情况</a>
    <span>附件1</span>
    <h5 align="center">基本装备保障机构编组和任务分工</h5>

    <table align="center" border="1" cellpadding="0" height="100" id="" width="700">
        <tr>
            <td colspan="2">机构编成</td>
            <td width="110">负责人</td>
            <td width="100">组员</td>
            <td>任务分工</td>

        </tr>
        <tr>
            <td colspan="2" width="200"><br>基本指挥所<br>装备保障指挥组</td>
            <td>保障部长</td>
            <td><br>战勤科副科长<br>装备技术科长<br>装备器材科长<br>军交运输科长<br>各营营长，技术保障队长
            </td>
            <td>全面负责装备保障工作，指导中继级各保障小组开展装备保障工作，并协调有关事项。</td>
        </tr>
        <tr>
            <td height="100" rowspan="4">中继级</td>
            <td>兵器装备抢修小组</td>
            <td>技术科长</td>
            <td>装备技术科高工，工程师</td>
            <td>负责装备故障的抢修和指导基层及时恢复装备技术状态。</td>
        </tr>
        <tr>
            <td height="100">车辆抢修小组</td>
            <td>军交科长</td>
            <td>军交运输科助理、汽车连连长、技术保障队汽车修理中队</td>
            <td>负责车辆故障的抢修，并组织基层搞好故障排查，确保所有车辆技术状态良好和安全。</td>
        </tr>
        <tr>
            <td height="100">军械器材保障小组</td>
            <td>器材科长</td>
            <td>器材科助理，技术保障队器材保管员</td>
            <td>负责请领、调拨、管理所有器材，确保器材供应质效。</td>
        </tr>
        <tr>
            <td height="100">装备弹药调整补充小组</td>
            <td>器材科长</td>
            <td>器材科器材助理</td>
            <td>负责弹药的请领、调拨、管理，了解掌握弹药消耗情况。</td>
        </tr>
        <tr>
            <td height="100">基层级</td>
            <td>营装备保障小组</td>
            <td>各营副营长</td>
            <td>各营各连连长、技勤参谋、车管助理、工程师、助理工程师</td>
            <td>负责全营的装备保障工作。</td>
        </tr>

    </table>
    <br>
    <p>附件2</p>
    <h5 align="center">预备装备保障机构编组和任务分工</h5>
    <table align="center" border="1" cellpadding="0" width="700">
        <tr>
            <td align="left" colspan="2">机构编成</td>
            <td width="110">负责人</td>
            <td width="100">组员</td>
            <td>任务分工</td>

        </tr>
        <tr>
            <td colspan="2" width="200"><br>预备指挥所<br>装备保障指挥组</td>
            <td>旅总工程师</td>
            <td><br>战勤科<br>装备技术科<br>装备器材科<br>军交运输科<br>各营副营长，技术保障副队长
            </td>
            <td>协助基本装备保障机构负责装备保障工作，指导中继级各保障小组开展装备保障工作，并协调有关事项。</td>
        </tr>
        <tr>
            <td height="100" rowspan="4">中继级</td>
            <td>兵器装备抢修小组</td>
            <td>装备技术科高工</td>
            <td>装备技术科高工，工程师、助理工程师</td>
            <td>协助进行装备故障的抢修和帮助基层及时恢复装备技术状态。</td>
        </tr>
        <tr>
            <td height="100">车辆抢修小组</td>
            <td>军交运输科助理</td>
            <td>汽车连副连长技术保障队汽车修理中队、各营修理工</td>
            <td>协助进行车辆故障的抢修，并帮助基层搞好故障排查，确保所有车辆技术状态良好和安全。</td>
        </tr>
        <tr>
            <td height="100">军械器材保障小组</td>
            <td>装备器材科助理李荣</td>
            <td>各营技勤参谋，技术保障队器材保管员</td>
            <td>协助进行请领、调拨、管理所有器材，确保器材供应质效。</td>
        </tr>
        <tr>
            <td height="100">装备弹药调整补充小组</td>
            <td>装备器材科助理</td>
            <td>各营技勤参谋、军械保管员</td>
            <td>协助装备弹药的请领、调拨、管理，了解掌握装备弹药消耗情况。</td>
        </tr>
        <tr>
            <td height="100">基层级</td>
            <td>营装备保障小组</td>
            <td>各营技勤参谋</td>
            <td>各连副连长、技勤参谋、车管助理、工程师、助理工程师</td>
            <td>协助全营的装备保障工作</td>
        </tr>

    </table>
    <br>
    <p>附件3</p>
    <h5 align="center">装备抢修组编成与部署表</h5>
    <table align="center" border="1" cellpadding="0" width="700">
        <tr>
            <td height="50" width="100">分组</td>
            <td width="120">职务</td>
            <td width="80">姓名</td>
            <td width="100">负责专业</td>
            <td width="100">岗位</td>
            <td>备注</td>
        </tr>
        <tr>
            <td height="50" rowspan="6">第一装备抢修组</td>
            <td height="50">技术科长</td>
            <td></td>
            <td>制造雷达</td>
            <td>组长</td>
            <td rowspan="6">主要负责xx营装备保障，部署于xx，携带装备7台，仪器设备30台，野战维修设备1套。<br>组员含技术保障队人员20人，汽车修理分队5人。</td>
        </tr>
        <tr>
            <td height="50">军交运输科长</td>
            <td></td>
            <td>车辆抢修</td>
            <td>副组长</td>
        </tr>
        <tr>
            <td height="50">高级工程师</td>
            <td></td>
            <td>雷达系统</td>
            <td rowspan="4">组员</td>
        </tr>
        <tr>
            <td height="50">高级工程师</td>
            <td></td>
            <td>发射装置</td>
        </tr>
        <tr>
            <td height="50">工程师</td>
            <td></td>
            <td>电源系统</td>
        </tr>
        <tr>
            <td height="50">技保队队长</td>
            <td></td>
            <td>军械修理</td>
        </tr>
        <tr>
            <td height="50" rowspan="6">第二装备抢修组</td>
            <td height="50">高级工程师</td>
            <td></td>
            <td>雷达系统</td>
            <td>组长</td>
            <td rowspan="6">主要负责xx营装备保障，部署于xx，携带装备5台，仪器设备22台，野战维修设备1套。组员含技术保障队15人，汽车修理分队5人。</td>
        </tr>
        <tr>
            <td height="50">军交运输科助理</td>
            <td></td>
            <td>车辆抢修</td>
            <td>副组长</td>
        </tr>
        <tr>
            <td height="50">高级工程师</td>
            <td></td>
            <td>筒弹系统</td>
            <td rowspan="4">组员</td>
        </tr>
        <tr>
            <td height="50">高级工程师</td>
            <td></td>
            <td>305B雷达</td>
        </tr>
        <tr>
            <td height="50">高级工程师</td>
            <td></td>
            <td>雷达系统</td>
        </tr>
        <tr>
            <td height="50">技保队副队长</td>
            <td></td>
            <td>军械修理</td>
        </tr>
        <tr>
            <td colspan="5" height="50">建制营的保障力量由相关专业保障人员构成</td>
            <td>负责本营的装备保障。</td>
        </tr>


    </table>
    <br>
    <p>附件4</p>
    <h5 align="center">器材保障组编成与部署表</h5>
    <table align="center" border="1" cellpadding="0" width="700">
        <tr>
            <td height="50" width="100">分组</td>
            <td width="120">职务</td>
            <td width="80">姓名</td>
            <td width="100">岗位</td>
            <td>备注</td>
        </tr>
        <tr>
            <td height="50" rowspan="7">第一器材保障组</td>
            <td height="50">器材科科长</td>
            <td></td>
            <td>组长</td>
            <td rowspan="7">携行周转器材1套，负责xx营器材调整补充及请领下送。
        <tr>
            <td height="50">技保队队长</td>
            <td></td>
            <td>副组长</td>
        </tr>
        <tr>
            <td height="50">器材助理</td>
            <td></td>
            <td rowspan="5">组员</td>
        </tr>
        <tr>
            <td height="50">指挥营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50">xx营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50">xxxx营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50">xx营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50" rowspan="5">第二器材保障组</td>
            <td height="50">器材科助理</td>
            <td></td>
            <td>组长</td>
            <td rowspan="5">担负xx营器材弹药调整补充及请领下送任务。携行周转器材1套，负责xx营器材调整补充及请领下送。
        <tr>
            <td height="50">技保队队长</td>
            <td></td>
            <td rowspan="4">组员</td>
        </tr>

        <tr>
            <td height="50">xx营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50">xx营参谋</td>
            <td></td>
        </tr>
        <tr>
            <td height="50">xx营参谋</td>
            <td></td>
        </tr>


    </table>
    <br>
    <p>附件5</p>
    <h5 align="center">旅、营携行军械车辆维修装（设）备表</h5>
    <table align="center" border="1" cellpadding="5">
        <tr>
            <td height="50" width="80">序号</td>
            <td width="120">装备名称</td>
            <td width="80">型号</td>
            <td width="80">单位</td>
            <td width="80">编配数量</td>
        </tr>
        <tr>
            <td align="center" colspan="5">旅携行军械车辆维修装（设）备</td>
        </tr>
        <tr>
            <td>一</td>
            <td align="center" colspan="4">机动保障装备</td>
        </tr>
        <tr>
            <td>1</td>
            <td>指挥车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>机械维修车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>机械备件车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>电子维修车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>电子备件车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>6</td>
            <td>50KW工频电源车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>7</td>
            <td>制氮充氮车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8</td>
            <td>筒弹测试车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9</td>
            <td>便携式防空导弹检测车指挥车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>野战器材储运车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>11</td>
            <td>运输车</td>
            <td></td>
            <td>辆</td>
            <td>2</td>
        </tr>
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td>辆</td>
            <td>12</td>
        </tr>
        <tr>
            <td>二</td>
            <td align="center" colspan="4">机动维修设备</td>
        </tr>
        <tr>
            <td>1</td>
            <td>100M示波器</td>
            <td>XJ4362A</td>
            <td>台</td>
            <td>3</td>
        </tr>
        <tr>
            <td>2</td>
            <td>雷达测试仪</td>
            <td>DH122D</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>三用表</td>
            <td>MF18</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>三用表</td>
            <td>MF14</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>5</td>
            <td>示波器校准仪</td>
            <td>NH4608</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>6</td>
            <td>微波频率计数器</td>
            <td>SH3382A</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>7</td>
            <td>信号发生器</td>
            <td>3831</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>8</td>
            <td>功率计</td>
            <td>HPE4418B</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>9</td>
            <td>指针式三用表</td>
            <td></td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>10</td>
            <td>高频毫伏表</td>
            <td>MV-19C</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>11</td>
            <td>数字式三用表校验仪</td>
            <td>D030</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>12</td>
            <td>半导体特性图示仪</td>
            <td>XJ4810</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>13</td>
            <td>双路支流稳压电源</td>
            <td>LPS202</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>14</td>
            <td>LCR电桥</td>
            <td>TH2818</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>15</td>
            <td>数字示波器</td>
            <td>泰克TDS3032B</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>16</td>
            <td>频谱分析仪</td>
            <td>安立MS2665C</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>17</td>
            <td>射频功率计</td>
            <td>安立ML2437A</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>18</td>
            <td>射频信号源</td>
            <td>安立MG3692B</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>19</td>
            <td>函数信号发生器</td>
            <td>泰克AFG31010</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>20</td>
            <td>数字式电压表</td>
            <td>安捷伦A-34401A</td>
            <td>台</td>
            <td>1</td>
        </tr>

        <tr>
            <td>21</td>
            <td>电压表检定仪</td>
            <td>北京DYB-3</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>22</td>
            <td>数字三用表</td>
            <td>深圳胜利VC980+</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>23</td>
            <td>直流稳压电源</td>
            <td>大华DH1719A-3D030</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>24</td>
            <td>频率特性测试仪</td>
            <td>南京BT3G</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>25</td>
            <td>数字式三用表校验仪</td>
            <td>华光电子DO30-E</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>26</td>
            <td>示波器校准仪</td>
            <td>南通南峰NF4608A</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>27</td>
            <td>交流净化电源</td>
            <td>扬州JSW-6KVA</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>28</td>
            <td>兆欧表</td>
            <td>ZC-7</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>29</td>
            <td>模拟示波器</td>
            <td>VP5567D</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>30</td>
            <td>接地电阻测试仪</td>
            <td>ZC-8</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>31</td>
            <td>便携式氧割机</td>
            <td></td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>32</td>
            <td>直流电焊机</td>
            <td>ZX5-500</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>33</td>
            <td>脚踏式油脂泵</td>
            <td>GZ-2</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>34</td>
            <td>电动拉铆枪</td>
            <td></td>
            <td>支</td>
            <td>1</td>
        </tr>
        <tr>
            <td>35</td>
            <td>野战阵地工具抢修箱</td>
            <td>GZX-Ⅱ</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>36</td>
            <td>液压三抓拉马</td>
            <td>316AB</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>37</td>
            <td>机械式升降卸轮器</td>
            <td>326</td>
            <td>台</td>
            <td>3</td>
        </tr>
        <tr>
            <td>38</td>
            <td>高压注油机</td>
            <td>419FJZ-160</td>
            <td>台</td>
            <td>3</td>
        </tr>
        <tr>
            <td>39</td>
            <td>便携式汽车千斤顶轮胎充气机</td>
            <td></td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td width="50">40</td>
            <td>筒式气门研磨机</td>
            <td>适用135MM\105MM\110MM柴油机和柴油车</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td>台</td>
            <td>52</td>
        </tr>
        <tr>
            <td align="center" colspan="5">营携行军械车辆维修装（设）备</td>
        </tr>
        <tr>
            <td>一</td>
            <td colspan="4">保障装备</td>
        </tr>
        <tr>
            <td>1</td>
            <td>机械维修车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>电子备件车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>机械备件车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>50kw工频电源车</td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td>辆</td>
            <td>1</td>
        </tr>
        <tr>
            <td>二</td>
            <td colspan="4">仪器设备</td>
        </tr>
        <tr>
            <td>1</td>
            <td>便携式氧割机</td>
            <td></td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>充电机</td>
            <td>KDCG-V/100A</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>模拟万用表</td>
            <td>MF-18</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>4</td>
            <td>接地电阻测试仪</td>
            <td>ZC-8</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>液压三抓拉马</td>
            <td>316AB</td>
            <td>台</td>
            <td>1</td>
        </tr>
        <tr>
            <td>6</td>
            <td>脚踏式油脂泵</td>
            <td>GZ-2</td>
            <td>台</td>
            <td>2</td>
        </tr>
        <tr>
            <td>7</td>
            <td>逻辑笔</td>
            <td></td>
            <td>支</td>
            <td>2</td>
        </tr>
        <tr>
            <td>合计</td>
            <td></td>
            <td></td>
            <td></td>
            <td>10</td>
        </tr>

    </table>

    <h3>4.2 器材保障预案(plan)</h3>
    <h4>4.2.1 保障任务</h4>
    <p>（一）作战物资器材调整补充的领导指挥管理、制订物资调整补充工作计划并督促落实；</p>
    <p>（二）拟制器材筹措、供应计划，组织物资器材的筹措、调剂、管理；物资器材的紧急发付和前送；</p>
    <p> （三）组织所属人员完成器材数质量清查，统计上报器材消耗情况，拟制物资器材补充需求计划，物资器材的请领、分发和管理。</p>
    <h4>4.2.2 组织领导</h4>
    <p>组长：装备器材科科长xx。</p>
    <p>组员：装备器材科助理xx，技术保障队队长xx及各营技勤参谋。</p>
    <p>职责：</p>
    <p>（一）贯彻落实旅装备保障组的指示，组织对印作战物资器材快速调整补充,确保部队战斗任务顺利完成；</p>
    <p>（二）掌握物资器材数质量情况和储备、消耗情况，及时提出调整、补充建议；</p>
    <p>（三）根据作战需要，组织制定物资器材调整补充计划；组织物资器材的筹措、储备、供应和管理工作，检查、督促物资器材调整补充情况。</p>
    <h4>4.2.3 保障措施</h4>
    <p>（一）物资器材的筹措</p>
    <p>1.机动前旅器材保障组向军区空军装备部上报申请计划，请求协调装备保障工厂完成缺项物资器材的补充，确保随机器材、周转器材齐全配套；</p>
    <p> 2.机动至指定地域后，建立保障关系，上报装备、物资器材保障情况；</p>
    <p> 3.战斗进程中消耗物资器材的补充按隶属关系向西北方向空中作战集群指挥部装备保障中心上报请领；</p>
    <p> 4.部分物资器材，可由器材保障组采取就便采购、函购或向工业部门（见附件1）及友邻部队紧急求助。</p>
    <p> （二）物资器材的储备</p>
    <p> 实行两级储备供应方式，即营基层级储备供应和旅周转储备供应。各级物资器材储备标准：</p>
    <p> 1.基层级储备</p>
    <p> 单个导弹营按满编配齐电子备件车（）、机械备件车（）的备件和各车的随机器材（）。</p>
    <p> 2.旅周转储备</p>
    <p> 按编配齐技术保障队电子备件车（）和机械备件车（）配备的周转器材。储备物资油料xx项， xx升。</p>
    <p>3.战术储备</p>
    <p> 请领1套红九战术储备器材，储备于旅技术保障队。</p>
    <p> （三）物资器材的请领</p>
    <p> 根据作战消耗，采取按级请领程序组织实施，特殊情况可越级请领。营申请器材由技勤参谋统一汇总，向旅器材保障组请领。旅周转器材补充，由器材保障组向西北方向空中作战集群指挥部装备保障中心请领。</p>
    <p> （四）物资器材的供应</p>
    <p> 1.各营营维修器材由旅器材保障组负责供应。</p>
    <p> 2.旅级周转器材由空军xx所装备保障部门负责供应。</p>
    <p> （五）物资器材的补充</p>
    <p> 1.各营主战装备维修器材随消耗随补充，由旅器材保障组直达供应;非主战装备器材消耗0.5个基数时，由旅装备保障指挥组从周转器材中统一组织调整补充。</p>
    <p> 2.旅周转器材消耗0.5个基数时，由器材保障组向空军和田指挥所装备保障部门上报需求并请领。</p>
    <p> 3.一般按照筹供渠道进行，情况紧急时，以主要作战方向为主，拆套合并使用，保证主要作战方向齐装配套。</p>
    <p> （六）物资器材的输送</p>
    <p> 旅物资器材的调整补充采取营自提和旅器材保障组直达供应相结合的方式组织实施。在紧急情况下，请示由XX仓库直达供应作战地域。输送途中做好隐蔽、防护工作。</p>
    <h4> 4.2.4 要求</h4>
    <p> （一）党委重视，加强教育。要组织人员把做好物资器材调整补充工作提到议事日程上来，进行充分的动员教育，使保障人员牢记职责，明确任务。</p>
    <p> （二）严密组织，充分准备。要加强组织领导，制定相应的实施方案，有组织有计划的组织预想和准备，做到万无一失。</p>
    <p> （三）落实制度，确保安全。在方案落实过程中，要严格执行安全规则，确保人员兵器安全。</p>
    <br>
    <h5 align=center style='text-align:center'>民用资源表</h5>

    <table align="center" border=1 cellpadding=0 cellspacing=0
           style='border-collapse:collapse;border:none'>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>序号</span></p>
            </td>
            <td style='width:77.95pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>名称</span></p>
            </td>
            <td style='width:148.85pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>地址</span></p>
            </td>
            <td style='width:55.6pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>联系人</span></p>
            </td>
            <td style='width:83.0pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>联系电话</span></p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>1</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>合众进口汽修厂</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏自治区日喀则市扎德东路</span><span lang=EN-US>8</span><span
                        style='font-family:宋体'>号</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>王先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>0892-8824930</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>2</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>东雷汽车维修有限公司</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏自治区桑珠孜区日喀则市吉林南路</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>刘先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>0892-8825199</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>3</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>日喀则市东娇汽修城</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p class=MsoNormal><span style='font-family:宋体'>西藏自治区日喀则市桑珠孜区几吉郎卡路</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>李先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>(0892)8823278</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>4</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>天源液压油管制作</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏自治区桑珠孜区日喀则市几吉朗卡路</span><span lang=EN-US>24</span><span
                        style='font-family:宋体'>附</span><span lang=EN-US>77</span><span
                        style='font-family:宋体'>南</span><span lang=EN-US>50</span><span
                        style='font-family:宋体'>米</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>李先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>13989021706</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>5</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>盛达液压油管加工部</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏自治区桑珠孜区日喀则市几吉朗卡路</span><span lang=EN-US>24-</span><span
                        style='font-family:宋体'>附</span><span lang=EN-US>77</span><span
                        style='font-family:宋体'>东</span><span lang=EN-US>50</span><span
                        style='font-family:宋体'>米</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>赵先生</span></p>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>&nbsp;</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>13618920956</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>6</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏天富工程机械有限公司</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏自治区拉萨市和平路东嘎村工程机械商业街</span><span lang=EN-US>2</span><span
                        style='font-family:宋体'>号</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>孙先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>0891-6151186</span>
                </p>
            </td>
        </tr>
        <tr>
            <td style='width:49.4pt;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt' width=66>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>7</span></p>
            </td>
            <td style='width:77.95pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=104>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>拉萨鸿飞工贸有限公司</span></p>
            </td>
            <td style='width:148.85pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=198>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>西藏拉萨市堆龙德庆县团结路</span><span lang=EN-US>13</span><span
                        style='font-family:宋体'>号</span></p>
            </td>
            <td style='width:55.6pt;border-top:none;border-left:none;border-bottom:
  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt' width=74>
                <p align=center class=MsoNormal style='text-align:center'><span
                        style='font-family:宋体'>刘先生</span></p>
            </td>
            <td style='width:83.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt' width=111>
                <p align=center class=MsoNormal style='text-align:center'><span lang=EN-US>0891-6159000</span>
                </p>
            </td>
        </tr>
    </table>
    <h3>4.3 特情处置预案</h3>
    <h4>4.3.1 装备保障特情处置指挥</h4>
    <p>旅装备保障指挥组统一组织各营做好红九装备特情处置工作。</p>
    <h4>4.3.2 特情分析</h4>
    <p>
        针对对xx防空作战任务装备保障实际，主要对以下特情进行处置：弹上电池故障、发射筒故障、发动机故障、导弹未截获、弹目未遭遇、雷达掉高压、100KW电源车供电故障、50KW中频变频电源车供电故障、雷指车与发射车链路故障和垂直发射车故障。</p>
    <h4>4.3.3 处置原则</h4>
    <p>（一）以空军装备安全管理条例为依据；</p>
    <p>（二）立足现有装备和条件，充分运用科学手段和方法，积极开展预想、预测；</p>
    <p>（三）在处置过程中，确保人员和装备安全；</p>
    <p>（四）情况处置要迅速、及时、有效；</p>
    <p>（五）处置完毕后，迅速恢复战备工作。</p>
    <h4> 4.3.4 情况设想及处置方法</h4>
    <p>（一）弹上电池故障</p>
    <p>应急处置措施：</p>
    <p> 雷达关高压；</p>
    <p> 导弹断电，回传发控参数，系统复位；</p>
    <p> 等待1小时；</p>
    <p> 应急处理人员进入现场；</p>
    <p> 发控组合断电；</p>
    <p> 测量弹上电池是否放电完毕及点火电路状态；</p>
    <p> 拔掉贮运发射筒上与发控执行组合连接的电缆插头，并装上筒弹前保护盖；</p>
    <p> 筒弹吊下发射车，装在筒弹运输车上；</p>
    <p>筒弹运往技术阵地。</p>
    <p>（二）发射筒故障</p>
    <p>应急处置措施：</p>
    <p>1.雷达关高压；</p>
    <p>2.导弹断电，回传发控参数，系统复位；</p>
    <p>3.等待1小时；</p>
    <p>4.应急处理人员进入现场；</p>
    <p>5.发控组合断电；</p>
    <p>6.测量弹上电池是否放电完毕，点火电路状态；</p>
    <p>7.拔掉贮运发射筒上与发控执行组合连接的电缆插头，装上筒弹前保护盖；</p>
    <p>8.导弹固定后，筒弹吊装到筒弹运输车上，运往技术阵地。</p>
    <p>（三）发动机故障</p>
    <p> 故障现象：</p>
    <p>发射筒主燃气发生器点火，但导弹出筒速度较小（弹射过载小于8g），发动机未点火；发射筒主燃气发生器已点火，导弹出筒速度正常，发动机未点火。导弹落下，可能出现两种现象：</p>
    <p>1.导弹落地，发动机未点火；</p>
    <p>2.导弹落地，发动机点火。</p>
    <p>应急处置措施:</p>
    <p>出现第一种现象时</p>
    <p>1.雷达按口令进行断电操作；</p>
    <p>2.导弹落地后，等待1小时后，应急人员进入现场；</p>
    <p>3.检查地面设备受损情况，并记录、录相和照相；</p>
    <p>4.观察导弹落地姿态及导弹外观，并记录、录相和照相；</p>
    <p>5.测量导弹电池是否放电完毕，点火电路状态；</p>
    <p>6.导弹运回技术阵地分析或在适合的现场分解处理。</p>
    <p>出现第二种现象时</p>
    <p> 1.雷达按口令进行断电操作；</p>
    <p> 2.检查地面设备受损情况，并记录、录相和照相。</p>
    <p>（四）导弹未截获</p>
    <p>应急处置措施：</p>
    <p>1.在18Km以内，可以再次进行截获；</p>
    <p>2.当确认导弹无法截获时，做好人员、装备的防护工作。</p>
    <p>（五）弹目未遭遇</p>
    <p> 应急处置措施：</p>
    <p>1.适时发出自毁指令；</p>
    <p>2.做好防护工作。</p>
    <p> （六）雷达掉高压</p>
    <p> 应急处置措施：</p>
    <p>1.发射前按下控制保护组合的“故障屏蔽”键和水冷组合的“应急”键；</p>
    <p>2.雷达出现掉高压故障，情况允许时，按下控保组合“复位”键，再次升高压。</p>
    <p>（七）100KW电源车供电故障</p>
    <p>应急处置措施：</p>
    <p>1.油机故障时，更换油机；</p>
    <p>2.进入程序前将备用动力电缆摆放好，动力电缆损坏时，更换备用动力电缆。</p>
    <p>（八）50KW中频变频电源车供电故障</p>
    <p> 应急处置措施：</p>
    <p> 1. 关机断电，检查排除故障，重新供电；</p>
    <p> 2.情况紧急时，选用备打发射架；</p>
    <p> 3.采用发射车取力供电。</p>
    <p> （九）雷指车与发射车链路故障</p>
    <p> 应急处置措施：</p>
    <p>1.有线转有线。备份发射车200米有线数传电缆1根，发生线缆故障后立即更换线缆；</p>
    <p>2.有线转无线。有线故障后，转无线数传方式，采用定频0504，雷指车与各发射车之间语音使用超短波电台沟通，超短波电台工作设置为单扩，信道00，频率43500。</p>
    <p> （十）垂直发射车故障</p>
    <p> 发控组合故障</p>
    <p> 应急处置措施：</p>
    <p> 1.关机断电，更换备用发控组合；</p>
    <p> 2.情况紧急时，选用备打发射架。</p>
    <p> 发控电缆故障</p>
    <p>应急处置措施：</p>
    <p>1.关机断电，更换备用发控电缆；</p>
    <p>2.情况紧急时，选用备打发射架。</p>
    <p>发射架起竖故障</p>
    <p>应急处置措施：</p>
    <p>1.采用手动方式起竖；</p>
    <p>2.检查排除故障，重新起竖；</p>
    <p>3.情况紧急时，选用备打发射架。</p>
    <h4>4.3.5 要求</h4>
    <p>（一）提高认识，加强领导。各保障组人员思想上必须高度重视，加强对装备保障特情处置工作的组织领导。要严密组织，认真搞好各种预想，提高认识，要制定切实可行的实施方案。</p>
    <p>（二）紧贴实战，搞好预想。结合部队作战任务的实际情况，科学安排，以特情预想提高装备保障的质量。要统筹安排，周密组织，合理分工，抓好部队特情处置中的装备保障工作质量。</p>
    <p>（三）严密组织，确保安全。要认真组织保障人员学习兵器知识、各类规章制度和相关特情处置措施，提高人员专业素质，增强法规意识和装备特情处置能力。实施中要严格落实各项安全制度，加强督导，防止发生事故，确保安全。</p>


    <h3>4.4 野战修理所开设预案</h3>
    <h4>4.4.1 组织领导与分工</h4>
    <p>在技术保障队队长领导下，成立野战修理所战勤班，共31人。分为指挥组、制配组、电子维修组、电源修理组和汽车修理组，具体任务分工如下：</p>
    <p>（一）指挥组（4人）。由技术保障队队长（1）任组长，组员有：各中队长（2）、专业工程师（1），负责执行任务时野战修理所开设工作的动员部署、方案修订、任务下达及整个开设工作的组织领导。</p>
    <p>
        （二）制配组（10人）。由制配班长（1）任组长，组员有：制配技师（1）、车工（2）、机械维修车司机和运输车司机（各1），空调维修技师（1）、空调修理工（1）、液压修理工（2）负责装备零配件的修理、加工制作、军用空调的检验修理、液压修理等野外修理工作。</p>
    <p>
        （三）电子维修组（8人）。由电子维修工程师（1）任组长，组员有：军械修理班长（1）、电子维修技师（1）、电子维修操作员（2）、修理工兼司机（1）、电工兼司机（1）、野战器材储运车司机（1）。主要负责兵器装备插件、板件修理。</p>
    <p>（四）电源修理组（4人）。由电源技师任组长（1），组员有：电源修理工（1）、电源修理工兼司机（2）。负责油机维护及供电保障。</p>
    <p>（五）汽车修理组（5人）：由汽车修理技师（1）任组长，组员为4名汽车修理工。
    <h4>4.4.2 主要任务和时限</h4>
    <p>（一）主要任务</p>
    <p>1.负责勘察野战阵地并做好阵地的平整和伪装工作；</p>
    <p>2.根据任务及阵地状况，及时修订开设方案；</p>
    <p>3.做好动员和物资器材的准备工作；</p>
    <p>4.负责将技术保障队野战人员、设备及车辆带到指定地域，按野战修理所配置方案停好车辆；</p>
    <p>5.组织搭设帐篷、架设车辆、展开设备、勾通通讯及油机启动、装（设）备的伪装等工作。</p>
    <p>（二）时限</p>
    <p>指定地域后，30分钟内开设修理帐蓬、架设好修理设备，油机启动进行供电，投入兵器抢修。</p>
    <h4>4.4.3</h4> 出动车辆及携带设备、器材
    <h3>（一）出动车辆</h3>
    <p>>指挥车、电子维修车、机械维修车、电子备件车、机械备件车、野战器材储运车、制氮充氮车、筒弹测试车、50Kw工频电源车（2）、汽车抢修车、便携式导弹测试车、运输车（2）共14台。
    <p>（二）携带设备、器材（见附件1）</p>
    <h4>4.4.4 程序方法</h4>
    <p>野战修理所在保障部直接领导下，根据首长意图和上级作战预案，按照开设方案进行组织开设（流程图见附件2）。
    <p>（一）受领任务
    <p>1.修订完善野战修理所开设方案；</p>
    <p>2.进行战备动员，传达任务，布置工作，明确人员分工，提出完成任务的时限和要求；</p>
    <p>3.按“三分、四定”要求，整理工具、设备和维修器材，检查调试设备、车辆。</p>
    <p>（二）勘察阵地</p>
    <p> 到达阵地后，队长和工程师现场勘察阵地，研究确定开设配置方案。（</p>
    <p>
    <p>.按照确定的配置和分工，架设帐篷，展开设备，人员、车辆物资定位，做好抢修准备；
    <p>（1）电子维修车进入场地定位，电子维修工程师和电工（兼司机）对该车及油机进行架设、展开维修设备并连接好电缆；</p>
    <p>（2）机械修理车进入场地定位，制配工程师与技师架设车辆、展开油机及维修设备并连接好电缆；</p>
    <p>（3）野战装备抢修车进入场地定位，待帐篷架设好后，将设备运至帐篷内展开；</p>
    <p>（4）野战器材储运车进入场地定位；
    <p>（5）架设野战抢修帐篷，展开工作台，设置调度台，并展开野战抢修车上的修理设备，对调度台勾通通信、对所有设备接通电源；</p>
    <p>3.对展开的设备进行功能检测；</p>
    <p>4.做好修理设备的伪装和防护；</p>
    <p>5.派出警戒哨。</p>

    <h4>4.4.5 要求</h4>
    <p>（一）实地勘察，做好隐蔽。野战修理所的场地设置，通常根据部队任务和作战部署，在上级指定的地域内，经过现场勘察后确定。一般配置于靠近主要阵地、交通便利、有良好进出道路、有足够展开场地、土质良好、便于隐蔽和修理作业的区域。</p>
    <p>（二）按章操作，保证质量。开设过程中，严格按照操作程序，做到快速、熟练、准确。</p>
    <p>（三）严密组织，确保安全。严格遵照安全操作规定，合理分工，认真组织和操作，把关人员注意履行好职责，严把操作中的安全关。</p>


</div>

<div class="mb30"></div>

<div>
    <a class="btn btn-default jquery-word-export" href="javascript:void(0)" style="color:#1caf9a">
        <i class="fa fa-file-word-o"></i>
        导出为.doc文档
    </a>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/FileSaver.js" type="text/javascript"></script>
<script src="js/jquery.wordexport.js" type="text/javascript"></script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("a.jquery-word-export").click(function (event) {
            $("#pageContent").wordExport();
        });
    });

    $("#technicalPeople").text(localStorage.getItem("technicalPeople"));
    $("#equipmentBusiness").text(localStorage.getItem("equipmentBusiness"));
    $("#autoRepairCrew").text(localStorage.getItem("autoRepairCrew"));
    $("#platoon_name").text(localStorage.getItem("platoon_name"));
    $("#lng").text(localStorage.getItem("lng"));
    $("#lat").text(localStorage.getItem("lat"));

    for (let i = 1; i <= 5; i++) {
        let res = localStorage.getItem("army_list_" + i);
        if (res != null) {
            $("#army_list_" + i).text(localStorage.getItem("army_list_" + i));
            $("#army_list1_" + i).text(localStorage.getItem("army_list_" + i));
            $("#army_list2_" + i).text(localStorage.getItem("army_list_" + i));
        }
    }
</script>
</body>
</html>